Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Install_Software.yml
id: PAN-OS Network Operations - Install Software
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Install Software
description: Installs PAN-OS system software.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: e629e5fd-76e1-4486-8b88-932aa2b8d475
    type: start
    task:
      id: e629e5fd-76e1-4486-8b88-932aa2b8d475
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -80
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 08abe235-c20d-446b-8df8-bacc82bf72c1
    type: regular
    task:
      id: 08abe235-c20d-446b-8df8-bacc82bf72c1
      version: -1
      name: Install the given software version
      description: Install the given software version onto the device. Download the
        software first with
      script: '|||pan-os-platform-install-software'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      version:
        simple: ${inputs.target_version}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 6987c23f-45f1-4ce9-8af5-4572404f5314
    type: regular
    task:
      id: 6987c23f-45f1-4ce9-8af5-4572404f5314
      version: -1
      name: Get Jobs
      description: Get all the jobs from the devices in the environment.
      script: '|||pan-os-platform-get-jobs'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      job_type:
        simple: SWInstall
      status:
        simple: ACT
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 2a8c883e-85f4-4ed4-8443-35672813b74b
    type: playbook
    task:
      id: 2a8c883e-85f4-4ed4-8443-35672813b74b
      version: -1
      name: GenericPolling
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      playbookName: GenericPolling
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      AdditionalPollingCommandArgNames:
        simple: device_filter_string
      AdditionalPollingCommandArgValues:
        simple: ${inputs.target}
      Ids:
        complex:
          root: PANOS.JobStatus
          accessor: id
          transformers:
          - operator: LastArrayElement
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: id
      PollingCommandName:
        simple: pan-os-platform-get-jobs
      Timeout:
        simple: "20"
      dt:
        simple: PANOS.JobStatus(val.status!=="FIN").id
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      scriptArguments:
        Ids:
          complex:
            root: PANOS.JobStatus
            accessor: id
            transformers:
            - operator: LastArrayElement
        Interval:
          simple: "1"
        PollingCommandArgName:
          simple: id
        PollingCommandName:
          simple: pan-os-platform-get-jobs
        Timeout:
          simple: "20"
        dt:
          simple: PANOS.JobStatus(val.status!=="FIN").id
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 450,
          "y": 650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: ebd82af9-d971-4081-82b2-f926b99d3bf2
    type: condition
    task:
      id: ebd82af9-d971-4081-82b2-f926b99d3bf2
      version: -1
      name: Did it complete?
      description: Check if the software installation finished successfully.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: PANOS.JobStatus
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.JobStatus.type
                      iscontext: true
                    right:
                      value:
                        simple: SWInstall
                accessor: status
            iscontext: true
          right:
            value:
              simple: FIN
      - - operator: isEqualString
          left:
            value:
              complex:
                root: PANOS.JobStatus
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.JobStatus.type
                      iscontext: true
                    right:
                      value:
                        simple: SWInstall
                accessor: result
            iscontext: true
          right:
            value:
              simple: OK
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: dc314b46-3b5f-451b-8892-6405a0d0d80d
    type: regular
    task:
      id: dc314b46-3b5f-451b-8892-6405a0d0d80d
      version: -1
      name: Get jobs again to check status
      description: Get all the jobs from the devices in the environment, or a single
        job when ID is specified.
      script: '|||pan-os-platform-get-jobs'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.target}
      id:
        complex:
          root: PANOS.JobStatus
          accessor: id
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: f556384c-afb3-4666-8b41-7c0b3f3c3412
    type: condition
    task:
      id: f556384c-afb3-4666-8b41-7c0b3f3c3412
      version: -1
      name: Is the job active?
      description: It's possible that, if software has already been installed, then
        we don't get an active job for it.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      ACT:
      - "3"
      FIN:
      - "4"
    separatecontext: false
    conditions:
    - label: ACT
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: PANOS.JobStatus.status
            iscontext: true
          right:
            value:
              simple: ACT
    - label: FIN
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: PANOS.JobStatus.status
            iscontext: true
          right:
            value:
              simple: FIN
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: a79fd588-fcfd-471a-838d-1dec35a44064
    type: title
    task:
      id: a79fd588-fcfd-471a-838d-1dec35a44064
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 785283e7-edf5-4c46-8058-f918c52e7a0c
    type: regular
    task:
      id: 785283e7-edf5-4c46-8058-f918c52e7a0c
      version: -1
      name: Fail message
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Software install job failed.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1335
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 8f28b166-81c2-4ed4-8cc0-ef0c2266e962
    type: regular
    task:
      id: 8f28b166-81c2-4ed4-8cc0-ef0c2266e962
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      description:
        simple: Installing Software Version ${inputs.target_version}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 118a26f8-007c-455a-81c6-34607b6bf53e
    type: regular
    task:
      id: 118a26f8-007c-455a-81c6-34607b6bf53e
      version: -1
      name: Set Description
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      description:
        simple: Software Install failed.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1510,
        "width": 820,
        "x": 450,
        "y": -80
      }
    }
  }
inputs:
- key: target_version
  value: {}
  required: false
  description: Target Version to INstall
  playbookInputQuery: null
- key: target
  value: {}
  required: false
  description: Target Device
  playbookInputQuery: null
outputs: []
