Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Platform_Management.yml
id: PAN-OS Network Operations - Platform Management
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Platform Management
description: Retrieves all the details of the PAN-OS Platform and topology.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8ae1c400-d022-457d-8a07-e82346889383
    type: start
    task:
      id: 8ae1c400-d022-457d-8a07-e82346889383
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": -560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 707a60a8-0bce-4ccb-88b6-2dbde570e0ac
    type: regular
    task:
      id: 707a60a8-0bce-4ccb-88b6-2dbde570e0ac
      version: -1
      name: Get System Information
      description: Gets information from all PAN-OS systems in the topology.
      script: '|||pan-os-platform-get-system-info'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 10,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - System Info
      output:
        complex:
          root: PANOS.ShowSystemInfo
          accessor: Summary
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    - incidentfield: PAN-OS Network Operations - System Info Result
      output:
        complex:
          root: PANOS.ShowSystemInfo
          accessor: Result
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: e1b59f97-3507-4659-8953-89c282f4ab0c
    type: regular
    task:
      id: e1b59f97-3507-4659-8953-89c282f4ab0c
      version: -1
      name: Delete Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
      - "3"
      - "5"
    scriptarguments:
      all:
        simple: "yes"
      keysToKeep:
        simple: File
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 6c38fc34-a1c6-4be5-8ca6-e93759f33e4c
    type: regular
    task:
      id: 6c38fc34-a1c6-4be5-8ca6-e93759f33e4c
      version: -1
      name: Get ARP Summary
      description: Gets all arp tables from all firewalls in the topology.
      script: '|||pan-os-platform-get-arp-tables'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - ARP Summary
      output:
        simple: ${PANOS.ShowArp.Summary}
    - incidentfield: PAN-OS Network Operations - ARP Table Result
      output:
        simple: ${PANOS.ShowArp.Result}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 26c3dd39-965d-4e1c-897c-3c7d5335612b
    type: regular
    task:
      id: 26c3dd39-965d-4e1c-897c-3c7d5335612b
      version: -1
      name: Get Route Summary
      description: Pulls all route summary information from the topology
      script: '|||pan-os-platform-get-route-summary'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 80,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Route Summary
      output:
        simple: ${PANOS.ShowRouteSummary.Summary}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 938698ed-6ffb-429c-87be-d829ccffb141
    type: regular
    task:
      id: 938698ed-6ffb-429c-87be-d829ccffb141
      version: -1
      name: Get Global Counters
      description: Gets global counter information from all the PAN-OS firewalls in
        the topology
      script: '|||pan-os-platform-get-global-counters'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - Global Counters
      output:
        simple: ${PANOS.ShowCounters.Summary}
    - incidentfield: PAN-OS Network Operations - Global Counters Result
      output:
        simple: ${PANOS.ShowCounters.Result}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 42be0516-2636-45cd-8b16-e42472172be7
    type: title
    task:
      id: 42be0516-2636-45cd-8b16-e42472172be7
      version: -1
      name: Finish Information Gathering
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 9cda5d9a-5f0e-4a74-8cc5-f6666acca866
    type: regular
    task:
      id: 9cda5d9a-5f0e-4a74-8cc5-f6666acca866
      version: -1
      name: Get All Routes
      description: Pulls all route summary information from the topology
      script: '|||pan-os-platform-get-routes'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Routes
      output:
        complex:
          root: PANOS.ShowRoute
          accessor: Summary
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    - incidentfield: PAN-OS Network Operations - Routes Result
      output:
        complex:
          root: PANOS.ShowRoute
          accessor: Result
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 5780eef1-da64-4b94-8bdf-cd890ae6e787
    type: playbook
    task:
      id: 5780eef1-da64-4b94-8bdf-cd890ae6e787
      version: -1
      name: PAN-OS Network Operations - Incident Callback
      playbookName: PAN-OS Network Operations - Incident Callback
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 490,
          "y": 880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: d4b534ee-5596-4c34-8bea-d0d9922bdd44
    type: title
    task:
      id: d4b534ee-5596-4c34-8bea-d0d9922bdd44
      version: -1
      name: Create Device Specific Incidents
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 573b5c11-604a-4556-83f1-bcd0b2906886
    type: regular
    task:
      id: 573b5c11-604a-4556-83f1-bcd0b2906886
      version: -1
      name: Set Incident Type HTML
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      panosnetworkoperationsincidentdescription:
        simple: |-
          <h4>PAN-OS System/Platform Information</h4>
          This incident type collects runtime information from the PAN-OS platforms in the environment, including tabular information like routing and arp information.

          Various actions can be taken on the environment using the buttons within this incident layout, which will spawn and link additional incidents to this one.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": -270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 03800630-124c-4e86-8e4b-14d468d502e2
    type: regular
    task:
      id: 03800630-124c-4e86-8e4b-14d468d502e2
      version: -1
      name: Get BGP Peers
      description: Retrieves all BGP peer information from the PAN-OS firewalls in
        the topology.
      script: '|||pan-os-platform-get-bgp-peers'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 920,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - BGP Peers
      output:
        complex:
          root: PANOS.ShowBGPPeers
          accessor: Summary
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    - incidentfield: PAN-OS Network Operations - BGP Peers Result
      output:
        complex:
          root: PANOS.ShowBGPPeers
          accessor: Result
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 9e26e85a-0e5b-4d98-82ca-32bbba951c8d
    type: regular
    task:
      id: 9e26e85a-0e5b-4d98-82ca-32bbba951c8d
      version: -1
      name: Sleep to ensure everything is caught up
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      seconds:
        simple: "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": -430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 8fb93d5f-d6b6-4f43-8423-fee73d069f1c
    type: title
    task:
      id: 8fb93d5f-d6b6-4f43-8423-fee73d069f1c
      version: -1
      name: Get More data...
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
      - "7"
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 85343fdc-0019-46cb-8c50-6079316add2d
    type: regular
    task:
      id: 85343fdc-0019-46cb-8c50-6079316add2d
      version: -1
      name: Create Or Update Incidents
      description: Creates, or updates existing device incidents.
      scriptName: CreateOrUpdateDeviceIncident
      type: regular
      iscommand: false
      brand: Builtin
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      target:
        simple: ${PANOS.ShowSystemInfo.Summary.hostid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: ebccfb32-2bf8-4a5c-8619-b56e5076912c
    type: title
    task:
      id: ebccfb32-2bf8-4a5c-8619-b56e5076912c
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 3c192925-b41a-4bed-827e-263ac4451b29
    type: playbook
    task:
      id: 3c192925-b41a-4bed-827e-263ac4451b29
      version: -1
      name: Update Occurred Time
      playbookId: Update Occurred Time
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": -120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1955,
        "width": 1290,
        "x": 10,
        "y": -560
      }
    }
  }
inputs:
- key: close_task_id
  value: {}
  required: false
  description: If set, completes the given task in the parent playbook. Used to ensure
    that the parent does not continue until this incident is finished processing.
  playbookInputQuery: null
- key: parent_incident_id
  value: {}
  required: false
  description: Incident that initiated this subplaybook, if any.
  playbookInputQuery: null
outputs:
- contextPath: PANOS.ShowSystemInfo.Result
  description: PANOS System Information
  type: unknown
- contextPath: PANOS.ShowArp.Result
  description: PANOS ARP Table Details
  type: unknown
- contextPath: PANOS.ShowRouteSummary.Summary
  description: PANOS Route table summary
  type: unknown
- contextPath: PANOS.ShowCounters.Result
  description: PANOS Global counters
  type: unknown
