Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Filter_and_Select_Available_Software_Images.yml
id: e68255ec-01a8-40a5-82d4-93b104eeb851
version: 5
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Filter and Select Available Software Images
description: Requests the available software images from a firewall, filters them,
  then prompts the user to select the version.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 39fc1575-5d9f-429c-8f23-18e6958c3a64
    type: start
    task:
      id: 39fc1575-5d9f-429c-8f23-18e6958c3a64
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -10
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 4ccc63cc-b021-4560-8cdf-3532a815dd0a
    type: collection
    task:
      id: 4ccc63cc-b021-4560-8cdf-3532a815dd0a
      version: -1
      name: Collect Target Version
      description: If a target version wasn't given, ask the user for the version
        to upgrade to.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Specify the final target version of firewall software.
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: |-
            ### Choose the target version from the list of available versions.

            **Important: Specifying a version more than one feature release ahead of the current release will result in multiple upgrades and device reboots to complete all intermediary update steps**
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - simple: ${FilteredSoftwareVersions.Result.version}
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Specify Target Software Version
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: cb47496e-d5dd-4d5f-8af3-1ce9e2d7749f
    type: regular
    task:
      id: cb47496e-d5dd-4d5f-8af3-1ce9e2d7749f
      version: -1
      name: Get Available software Images
      description: Checks the devices for software that is available to be installed.
      script: '|||pan-os-platform-get-available-software'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      target:
        simple: ${inputs.target}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: b5383eb4-e4ad-4d18-8cbc-d86919ed022a
    type: regular
    task:
      id: b5383eb4-e4ad-4d18-8cbc-d86919ed022a
      version: -1
      name: Filter the available software images
      description: Given a table containing installed ("current") PAN-OS Software
        images, compare with available to determine
      scriptName: FilterAvailableSoftwareImages
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      available_images:
        simple: ${PANOS.SoftwareVersions.Summary}
      installed_images:
        complex:
          root: PANOS.SoftwareVersions.Summary
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
                iscontext: true
              right:
                value:
                  simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 68b73d64-098c-426a-89f0-69ce2b388657
    type: regular
    task:
      id: 68b73d64-098c-426a-89f0-69ce2b388657
      version: -1
      name: Set the relevant incident fields
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      nextupgradeversion:
        complex:
          root: FilteredSoftwareVersions.Result
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: FilteredSoftwareVersions.Result.version
                iscontext: true
              right:
                value:
                  simple: incident.panosnetworkoperationsupgradetargetversion
                iscontext: true
          accessor: next_upgrade_version
      upgradepath:
        complex:
          root: FilteredSoftwareVersions.Result
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: FilteredSoftwareVersions.Result.version
                iscontext: true
              right:
                value:
                  simple: incident.panosnetworkoperationsupgradetargetversion
                iscontext: true
          accessor: upgrade_path
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ', '
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 31f60022-e46d-4f5e-8c67-210315033cb7
    type: condition
    task:
      id: 31f60022-e46d-4f5e-8c67-210315033cb7
      version: -1
      name: Do we have a Final target version already?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetversion
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 76d8886d-6ffb-4edf-8aae-569667234187
    type: regular
    task:
      id: 76d8886d-6ffb-4edf-8aae-569667234187
      version: -1
      name: Set Target Version
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      panosnetworkoperationsupgradetargetversion:
        simple: ${Specify Target Software Version.Answers.0}
      releasenotes:
        complex:
          root: FilteredSoftwareVersions.Result
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: FilteredSoftwareVersions.Result.version
                iscontext: true
              right:
                value:
                  simple: Specify Target Software Version.Answers.0
                iscontext: true
          accessor: release_notes
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1105,
        "width": 380,
        "x": 450,
        "y": -10
      }
    }
  }
inputs:
- key: target
  value: {}
  required: true
  description: The target firewall.
  playbookInputQuery: null
outputs: []
