Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Batch_Upgrade.yml
id: PAN-OS Network Operations - Domain Upgrade
version: 5
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Batch Upgrade
description: Similar to the Platform Upgrade playbook, this playbook uses an alternate
  method of retrieving the devices to upgrade by instead querying the open device
  incidents for the information. This allows us to create upgrade incidents for only
  specific devices or groups of devices as opposed to all devices.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 54ecdb20-1a2d-4ad7-89a2-21fe479ff0a3
    type: start
    task:
      id: 54ecdb20-1a2d-4ad7-89a2-21fe479ff0a3
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 7fe43156-8be6-4266-8ba4-f4a1de6019a1
    type: condition
    task:
      id: 7fe43156-8be6-4266-8ba4-f4a1de6019a1
      version: -1
      name: Did we get tags specified?
      description: Check for Domain to upgrade
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.upgrade_tags
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 0c4f2d28-4a0f-4f8d-87fc-c9c5d220c5eb
    type: regular
    task:
      id: 0c4f2d28-4a0f-4f8d-87fc-c9c5d220c5eb
      version: -1
      name: Get Active Devices by query
      description: 'Searches the active PAN-OS devices in the topology - the device
        incidents - by the given incident query. '
      scriptName: GetDevicesByQuery
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      query:
        simple: "(type:\"Network Device\" or type:\"Panorama Device\")  connected:yes
          hastatus:active ${inputs.upgrade_tags=>x(val);function x(l) {\n\tvar r =
          [];\n\tif (l) {\n  \tl.forEach(s => {\n    \tr.push(\"devicetags:\"+s);\n
          \   })\n  } else {\n  \treturn '';\n  }\n  return r.join(' ');\n}} ${inputs.device_query}"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 70
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 71ca0281-936d-401e-8e26-2c7676095c47
    type: regular
    task:
      id: 71ca0281-936d-401e-8e26-2c7676095c47
      version: -1
      name: Get All Active Devices
      description: 'Searches the active PAN-OS devices in the topology - the device
        incidents - by the given incident query. '
      scriptName: GetDevicesByQuery
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      query:
        simple: hastatus:active  connected:yes ${inputs.device_query}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 660,
          "y": 70
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: e96f54e9-42ba-439d-8c97-cfe4727e89af
    type: title
    task:
      id: e96f54e9-42ba-439d-8c97-cfe4727e89af
      version: -1
      name: Get Available Software Images
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: d11d0a2e-e94b-4d63-862e-140e21feb3a4
    type: regular
    task:
      id: d11d0a2e-e94b-4d63-862e-140e21feb3a4
      version: -1
      name: Get Software Images
      description: Check the devices for software that is available to be installed.
      script: '|||pan-os-platform-get-available-software'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      device_filter_string:
        simple: ${GetDevicesByQuery.hostid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: d593384e-cee6-49cc-8382-b6eb4163835a
    type: condition
    task:
      id: d593384e-cee6-49cc-8382-b6eb4163835a
      version: -1
      name: Did we get at least one device?
      description: Check for device.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "35"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: GetDevicesByQuery.hostid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 250
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: ff039c29-1cc9-459e-8d53-0e61352a00a6
    type: regular
    task:
      id: ff039c29-1cc9-459e-8d53-0e61352a00a6
      version: -1
      name: Error on no devices returned.
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: The device query for only Active devices with domain ${inputs.domain}
          returned no results. Have you run a System Information incident?
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 880,
          "y": 600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: b770dc8e-f86b-453f-8bd5-824ecd575b96
    type: regular
    task:
      id: b770dc8e-f86b-453f-8bd5-824ecd575b96
      version: -1
      name: Filter available Panorama Images
      description: Given a table containing installed ("current") PAN-OS Software
        images, compare with available to determine
      scriptName: FilterAvailableSoftwareImages
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      available_images:
        complex:
          root: PANOS.SoftwareVersions.Summary
          filters:
          - - operator: containsGeneral
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: isFalse
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
                iscontext: true
      installed_images:
        complex:
          root: PANOS.SoftwareVersions.Summary
          filters:
          - - operator: containsGeneral
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: isTrue
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - Upgrade Panorama Version
      output:
        complex:
          root: FilteredSoftwareVersions.Result
          accessor: version
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ', '
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 43391b72-0770-4cd0-8e70-e860cdb7339e
    type: condition
    task:
      id: 43391b72-0770-4cd0-8e70-e860cdb7339e
      version: -1
      name: Did we return Panorama devices?
      description: Check for Panorama devices.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PANOS.ShowSystemInfo.Summary
                filters:
                - - operator: containsGeneral
                    left:
                      value:
                        simple: PANOS.ShowSystemInfo.Summary.model
                      iscontext: true
                    right:
                      value:
                        simple: Panorama
                accessor: hostid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 40410efc-1342-4b0b-847f-493c2949196a
    type: collection
    task:
      id: 40410efc-1342-4b0b-847f-493c2949196a
      version: -1
      name: Panorama Target Version and Upgrade information Questionairre
      description: Collects the upgrade details from the user.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1660
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Please complete the following survey to proceed with the platform
          upgrade process.
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          complex:
            root: PANOS.SoftwareVersions.Summary
            filters:
            - - operator: isTrue
                left:
                  value:
                    simple: PANOS.SoftwareVersions.Summary.current
                  iscontext: true
            - - operator: containsGeneral
                left:
                  value:
                    simple: PANOS.SoftwareVersions.Summary.filename
                  iscontext: true
                right:
                  value:
                    simple: Panorama
            accessor: version
            transformers:
            - operator: concat
              args:
                prefix:
                  value:
                    simple: Select Target Panorama Software Version. Current is  **
                suffix:
                  value:
                    simple: '**'
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - complex:
            root: FilteredSoftwareVersions.Result
            filters:
            - - operator: containsGeneral
                left:
                  value:
                    simple: FilteredSoftwareVersions.Result.filename
                  iscontext: true
                right:
                  value:
                    simple: Panorama
            accessor: version
            transformers:
            - operator: sort
              args:
                descending: {}
        - {}
        fieldassociated: ""
        placeholder: ""
        tooltip: The possible versions to upgrade Panorama to.
        readonly: false
      title: Panorama Upgrade Questions
      description: |-
        ## Overview
        Please specify the target image versions for Panorama and the Firewalls.

        ## Image Upgrade Restrictions
        Note that the associated image list is based on the following limitations and is NOT the complete list of available PAN-OS software;

         * Image must not be > 1 Major release ahead
         * Image must not be > 1 Minor release ahead
         * Image must not be a combination of the two above

        **In the event of a large gap between firewall versions within the environment, the upgrade process will require a manual selection for each firewall that can't be directly upgraded to the target version.**
      sender: Your SOC team
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c67f354a-14f5-4734-8b9f-4c3efdf61fdb
    type: regular
    task:
      id: c67f354a-14f5-4734-8b9f-4c3efdf61fdb
      version: -1
      name: Set Target Panorama Version Field
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      panosnetworkoperationsupgradetargetpanoramaversion:
        simple: ${Panorama Upgrade Questions.Answers.0}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 723ec1df-b115-408d-8701-674214ecd3bb
    type: regular
    task:
      id: 723ec1df-b115-408d-8701-674214ecd3bb
      version: -1
      name: Create Panorama Incidents
      description: commands.local.cmd.create.inc
      script: Builtin|||createNewIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      name:
        simple: PAN-OS Panorama Upgrade - ${PanoramaDevices}
      panosnetworkoperationsparentincidentid:
        simple: ${incident.id}
      panosnetworkoperationstarget:
        simple: ${PanoramaDevices}
      panosnetworkoperationsupgradetargetdevice:
        simple: ${PanoramaDevices}
      panosnetworkoperationsupgradetargetversion:
        simple: ${incident.panosnetworkoperationsupgradetargetpanoramaversion}
      type:
        simple: PAN-OS Network Operations - Device Upgrade
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 6e732779-3337-41c7-8342-339af9b94857
    type: condition
    task:
      id: 6e732779-3337-41c7-8342-339af9b94857
      version: -1
      name: Did we get Firewall devices?
      description: Check for Firewall devices.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PANOS.ShowSystemInfo.Summary.model
                filters:
                - - operator: notContainsGeneral
                    left:
                      value:
                        simple: PANOS.ShowSystemInfo.Summary.model
                      iscontext: true
                    right:
                      value:
                        simple: Panorama
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 94f9a2bc-cae9-427c-8295-dee84ab4914e
    type: regular
    task:
      id: 94f9a2bc-cae9-427c-8295-dee84ab4914e
      version: -1
      name: Filter available Firewall Images
      description: Given a table containing installed ("current") PAN-OS Software
        images, compare with available to determine
      scriptName: FilterAvailableSoftwareImages
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      available_images:
        complex:
          root: PANOS.SoftwareVersions.Summary
          filters:
          - - operator: notContainsGeneral
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: isFalse
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
                iscontext: true
      installed_images:
        complex:
          root: PANOS.SoftwareVersions.Summary
          filters:
          - - operator: notContainsGeneral
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: isTrue
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: f1cb0729-a19c-4283-8121-be2a7c8925a8
    type: collection
    task:
      id: f1cb0729-a19c-4283-8121-be2a7c8925a8
      version: -1
      name: Firewall Target Version and Upgrade information Questionairre
      description: Collectst the firewall version and further upgrade information
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: Please complete the following survey to proceed with the platform
          upgrade process.
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          complex:
            root: PANOS.SoftwareVersions.Summary
            filters:
            - - operator: notContainsGeneral
                left:
                  value:
                    simple: PANOS.SoftwareVersions.Summary.filename
                  iscontext: true
                right:
                  value:
                    simple: Panorama
            - - operator: isTrue
                left:
                  value:
                    simple: PANOS.SoftwareVersions.Summary.current
                  iscontext: true
            accessor: version
            transformers:
            - operator: uniq
            - operator: join
              args:
                separator:
                  value:
                    simple: ', '
            - operator: concat
              args:
                prefix:
                  value:
                    simple: 'Select target firewall software version. Current versions
                      are '
                suffix: {}
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - complex:
            root: FilteredSoftwareVersions.Result
            filters:
            - - operator: notContainsGeneral
                left:
                  value:
                    simple: FilteredSoftwareVersions.Result.filename
                  iscontext: true
                right:
                  value:
                    simple: Panorama
            accessor: version
            transformers:
            - operator: sort
              args:
                descending: {}
        fieldassociated: ""
        placeholder: ""
        tooltip: The possible versions to upgrade the firewall devices to.
        readonly: false
      title: Firewall Upgrade Questions
      description: |-
        ## Overview
        Please specify the target image versions for Panorama and the Firewalls.

        ## Image Upgrade Restrictions
        Note that the associated image list is based on the following limitations and is NOT the complete list of available PAN-OS software;

         * Image must not be > 1 Major release ahead
         * Image must not be > 1 Minor release ahead
         * Image must not be a combination of the two above

        **In the event of a large gap between firewall versions within the environment, the upgrade process will require a manual selection for each firewall that can't be directly upgraded to the target version.**
      sender: Your SOC team
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 342c9528-c0eb-40d1-8341-c08570abc0ea
    type: regular
    task:
      id: 342c9528-c0eb-40d1-8341-c08570abc0ea
      version: -1
      name: Set Answered target version
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      panosnetworkoperationsupgradetargetfirewallversion:
        simple: ${Firewall Upgrade Questions.Answers.0}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3305
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 2fa2d77d-b8b9-4692-8775-8c0f3f69372a
    type: regular
    task:
      id: 2fa2d77d-b8b9-4692-8775-8c0f3f69372a
      version: -1
      name: Create Firewall Incidents
      description: commands.local.cmd.create.inc
      script: Builtin|||createNewIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      name:
        simple: PAN-OS Firewall Upgrade
      panosnetworkoperationsparentincidentid:
        simple: ${incident.id}
      panosnetworkoperationstarget:
        complex:
          root: FirewallDevices
      panosnetworkoperationsupgradetargetdevice:
        complex:
          root: FirewallDevices
      panosnetworkoperationsupgradetargetversion:
        simple: ${incident.panosnetworkoperationsupgradetargetfirewallversion}
      type:
        simple: PAN-OS Network Operations - Device Upgrade
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 12c506a8-12ca-4509-8c3b-55815ca6f096
    type: regular
    task:
      id: 12c506a8-12ca-4509-8c3b-55815ca6f096
      version: -1
      name: Set Panorama Systems
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      key:
        simple: PanoramaDevices
      value:
        complex:
          root: FilteredSoftwareVersions.Result
          filters:
          - - operator: containsString
              left:
                value:
                  simple: FilteredSoftwareVersions.Result.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: isEqualString
              left:
                value:
                  simple: FilteredSoftwareVersions.Result.version
                iscontext: true
              right:
                value:
                  simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
                iscontext: true
          accessor: hostid
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: d239bab1-e444-4572-853b-c1b2de56e8ce
    type: regular
    task:
      id: d239bab1-e444-4572-853b-c1b2de56e8ce
      version: -1
      name: Set Firewall Systems
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      key:
        simple: FirewallDevices
      value:
        complex:
          root: PANOS.SoftwareVersions.Summary.hostid
          filters:
          - - operator: notContainsGeneral
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
                iscontext: true
              right:
                value:
                  simple: Panorama
          - - operator: notIn
              left:
                value:
                  simple: PANOS.SoftwareVersions.Summary.hostid
                iscontext: true
              right:
                value:
                  simple: PanoramaDevices
                iscontext: true
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 95a11188-81fa-4f41-80b0-e9aab22bfa3e
    type: regular
    task:
      id: 95a11188-81fa-4f41-80b0-e9aab22bfa3e
      version: -1
      name: Delete context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 4175c085-aabe-4b05-87a3-add54e577aa3
    type: condition
    task:
      id: 4175c085-aabe-4b05-87a3-add54e577aa3
      version: -1
      name: Do we have a target version already?
      description: Check for target version.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "18"
      yes - but not valid:
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
            iscontext: true
    - label: yes - but not valid
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
            iscontext: true
      - - operator: notInList
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
            iscontext: true
          right:
            value:
              simple: FilteredSoftwareVersions.Result.version
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 2751ceac-6ee6-464c-877e-fdb6af7bb97e
    type: regular
    task:
      id: 2751ceac-6ee6-464c-877e-fdb6af7bb97e
      version: -1
      name: Set Description
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      description:
        simple: "Panorama Upgrade cannot continue - the input panorama upgrade version
          ${incident.panosnetworkoperationsupgradetargetpanoramaversion} is not a
          valid target version. It may already be installed, too many releases ahead,
          or behind the currently installed version. \n\nFirewall upgrade process
          will continue."
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -240,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 79f60a12-04e5-44e9-873e-b734429421b0
    type: regular
    task:
      id: 79f60a12-04e5-44e9-873e-b734429421b0
      version: -1
      name: Get system info for returned devices
      description: Gets information from all PAN-OS systems in the topology.
      script: '|||pan-os-platform-get-system-info'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      device_filter_string:
        simple: ${GetDevicesByQuery.hostid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 649fd7a5-9744-4ee3-897d-5b9202be3728
    type: title
    task:
      id: 649fd7a5-9744-4ee3-897d-5b9202be3728
      version: -1
      name: Start Upgrade Process Per Incident
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 74c34084-4974-4617-8dcf-12238528f59b
    type: regular
    task:
      id: 74c34084-4974-4617-8dcf-12238528f59b
      version: -1
      name: Set Target List
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      panosnetworkoperationspanoramaupgradelist:
        complex:
          root: PANOS.ShowSystemInfo.Summary
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.ShowSystemInfo.Summary.model
                iscontext: true
              right:
                value:
                  simple: Panorama
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2185
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 714d13f4-aaec-4881-8bdc-378db0962592
    type: condition
    task:
      id: 714d13f4-aaec-4881-8bdc-378db0962592
      version: -1
      name: Do we have a target version already?
      description: Check for existing target version
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "19"
      yes - but not valid:
      - "29"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetfirewallversion
            iscontext: true
    - label: yes - but not valid
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetfirewallversion
            iscontext: true
      - - operator: notInList
          left:
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
            iscontext: true
          right:
            value:
              simple: FilteredSoftwareVersions.Result.version
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 3b749585-deb7-40b6-8135-2494b550d201
    type: regular
    task:
      id: 3b749585-deb7-40b6-8135-2494b550d201
      version: -1
      name: Set target list
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      panosnetworkoperationsfirewallupgradelist:
        complex:
          root: PANOS.ShowSystemInfo.Summary
          filters:
          - - operator: isNotEqualString
              left:
                value:
                  simple: PANOS.ShowSystemInfo.Summary.model
                iscontext: true
              right:
                value:
                  simple: Panorama
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: f4e95e44-8992-44fe-8c33-e7380342cbe5
    type: regular
    task:
      id: f4e95e44-8992-44fe-8c33-e7380342cbe5
      version: -1
      name: Set Description
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      description:
        simple: "Firewall Upgradse cannot continue - the input firewall upgrade version
          ${incident.panosnetworkoperationsupgradetargetfirewallversion} is not a
          valid target version. It may already be installed, too many releases ahead,
          or behind the currently installed version. \n\nPanorama Upgrade process
          may continue."
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 20,
          "y": 3760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: a82ce6a1-5119-48aa-825a-8111b09c5020
    type: playbook
    task:
      id: a82ce6a1-5119-48aa-825a-8111b09c5020
      version: -1
      name: PAN-OS Network Operations - Start Device Upgrades
      description: |-
        This playbook is used by the Domain Upgrade playbook to start (either manually or automatically) groups of Device Upgrade incidents.

        It works by first retrieving the administrative domains/device-groups that have upgrades pending, then marking the pause tasks within them complete in batches.
      playbookName: PAN-OS Network Operations - Start Device Upgrades
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 80bf2cbd-921c-4c9a-812e-9b6e8ff051dc
    type: regular
    task:
      id: 80bf2cbd-921c-4c9a-812e-9b6e8ff051dc
      version: -1
      name: Close Incident
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      closeNotes:
        simple: This upgrade incident has been closed - all devices are now upgrading,
          and can be monitored by looking either at the PAN-OS Network Operations
          dashboard or the indiviudal incidents directly.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 10d850d0-470a-45d9-8c1b-f6aad8afcbc5
    type: title
    task:
      id: 10d850d0-470a-45d9-8c1b-f6aad8afcbc5
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 5d035f71-5412-48ad-8391-eb28b7bceaf3
    type: condition
    task:
      id: 5d035f71-5412-48ad-8391-eb28b7bceaf3
      version: -1
      name: Do we have a parent incident?
      description: Checks if this incident has been created by another incident type.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "34"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsparentincidentid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 2ff181e0-ed87-4c48-8e6c-41255d72b97c
    type: regular
    task:
      id: 2ff181e0-ed87-4c48-8e6c-41255d72b97c
      version: -1
      name: Link to parent
      description: commands.local.cmd.linkIncidents
      script: Builtin|||linkIncidents
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      linkedIncidentIDs:
        simple: ${incident.panosnetworkoperationsparentincidentid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 5d0a6620-61e5-49ac-8b82-ff07e55d407d
    type: regular
    task:
      id: 5d0a6620-61e5-49ac-8b82-ff07e55d407d
      version: -1
      name: Relate Incident to device
      description: commands.local.cmd.associate.indicator
      script: Builtin|||associateIndicatorToIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      value:
        simple: ${GetDevicesByQuery.value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 5385,
        "width": 1500,
        "x": -240,
        "y": -760
      }
    }
  }
inputs:
- key: upgrade_tags
  value:
    simple: ${incident.devicetags}
  required: false
  description: Target upgrade batch by device tags.
  playbookInputQuery: null
- key: device_query
  value:
    simple: ${incident.panosnetworkoperationsdeviceupgradequery}
  required: false
  description: 'Any additional incident query parameters for the device query - for
    example, use "devicemodel:Panorama" to only upgrade Panorama devices. '
  playbookInputQuery: null
outputs: []
