Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Device_Upgrade.yml
id: PAN-OS Network Operations - Device Upgrade
version: 6
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Device Upgrade
description: Upgrades a single or HA pair of PAN-OS firewalls.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: e25a516b-e99b-4178-8501-07cc2c986ed7
    type: start
    task:
      id: e25a516b-e99b-4178-8501-07cc2c986ed7
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -3250
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: c8424cbe-555c-49c4-8ad0-8107267122de
    type: condition
    task:
      id: c8424cbe-555c-49c4-8ad0-8107267122de
      version: -1
      name: Do we have a parent incident?
      description: True if this incident was created by another incident.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "41"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: incident.panosnetworkoperationsparentincidentid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: eb7eaf31-9a3c-4677-84a1-48539b2480e5
    type: regular
    task:
      id: eb7eaf31-9a3c-4677-84a1-48539b2480e5
      version: -1
      name: Link to parent
      description: commands.local.cmd.linkIncidents
      script: Builtin|||linkIncidents
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      linkedIncidentIDs:
        simple: ${incident.panosnetworkoperationsparentincidentid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 750,
          "y": -2350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 96adcd0d-353a-4ad0-8338-0a762a71ca31
    type: regular
    task:
      id: 96adcd0d-353a-4ad0-8338-0a762a71ca31
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      description:
        simple: Awaiting Upgrade Confirmation
      name:
        simple: PAN-OS Upgrade - ${inputs.target_device}
      severity:
        simple: "0.5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2755
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 80a21366-7493-46ca-8458-697222d7cbb9
    type: regular
    task:
      id: 80a21366-7493-46ca-8458-697222d7cbb9
      version: -1
      name: Associate Device Indicator to this Incident
      description: Associates the device indicator to this incident; required when
        this is run as part of a batch upgrade
      script: Builtin|||associateIndicatorToIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      value:
        simple: ${inputs.target_device}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: a8f05f7f-04a2-4bd9-83e7-dfe58d21b2a6
    type: playbook
    task:
      id: a8f05f7f-04a2-4bd9-83e7-dfe58d21b2a6
      version: -1
      name: PAN-OS Network Operations - Filter and Select Available Software Images
      description: Requests the available software images from a firewall, filters
        them, then prompts the user to select the version.
      playbookName: PAN-OS Network Operations - Filter and Select Available Software
        Images
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: 187166ba-179f-439a-88c5-65b08ee0624a
    type: title
    task:
      id: 187166ba-179f-439a-88c5-65b08ee0624a
      version: -1
      name: Complete!
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: e0c5f1f3-dfea-4556-8ce3-11740cbda7de
    type: playbook
    task:
      id: e0c5f1f3-dfea-4556-8ce3-11740cbda7de
      version: -1
      name: PAN-OS Network Operations - Device Upgrade Loop
      playbookName: PAN-OS Network Operations - Device Upgrade Loop
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      autoclose_incident:
        simple: ${inputs.autoclose_incident}
      peer_device:
        simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
      target_device:
        simple: ${incident.panosnetworkoperationstarget}
      target_version:
        simple: ${incident.upgradepath}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1525,
        "width": 610,
        "x": 520,
        "y": -3250
      }
    }
  }
inputs:
- key: target_device
  value:
    simple: ${incident.panosnetworkoperationstarget}
  required: false
  description: Target Firewall for upgrade
  playbookInputQuery: null
- key: peer_device
  value:
    simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
  required: false
  description: Peer firewall (if any)
  playbookInputQuery: null
- key: target_version
  value:
    simple: ${incident.panosnetworkoperationsupgradetargetversion}
  required: false
  description: Target version of upgrade
  playbookInputQuery: null
- key: autoclose_incident
  value:
    simple: "true"
  required: false
  description: Controls whether or not to autoclose the incident
  playbookInputQuery: null
outputs: []
