Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Configuration_Issue_Remediation.yml
id: 9baacc04-1011-47fa-821c-ac8b1842e968
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Configuration Issue Remediation
description: Remediates configuration issues identified by the Device Management integration.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 97a9fce5-6c7a-439d-80a1-fe410d03c0bd
    type: start
    task:
      id: 97a9fce5-6c7a-439d-80a1-fe410d03c0bd
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 20
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: e72f9bbb-bc80-4bab-821e-7b849f16dc1d
    type: regular
    task:
      id: e72f9bbb-bc80-4bab-821e-7b849f16dc1d
      version: -1
      name: Get Indicators By the query
      description: Returns indicator custom fields into the context by the given query.
      scriptName: GetIndicatorFieldsByQuery
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      query:
        simple: ${inputs.issue_query} expirationStatus:active issuestatus:unresolved
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 599a4195-61c2-4029-87df-1438bf3eb2f6
    type: regular
    task:
      id: 599a4195-61c2-4029-87df-1438bf3eb2f6
      version: -1
      name: Associate Indicators to this Incident
      description: commands.local.cmd.associate.indicator
      script: Builtin|||associateIndicatorToIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "3"
      - "22"
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      value:
        simple: ${GetIndicatorFieldsByQuery.value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 805ea62e-0fdd-48b5-8a09-0ed2561413b2
    type: title
    task:
      id: 805ea62e-0fdd-48b5-8a09-0ed2561413b2
      version: -1
      name: Visibility
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
      - "31"
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: f0658c95-7818-44ae-824c-799cf68ce71a
    type: title
    task:
      id: f0658c95-7818-44ae-824c-799cf68ce71a
      version: -1
      name: BP-V-8
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: b92b43cf-25c2-44c6-89f1-20a85992154d
    type: condition
    task:
      id: b92b43cf-25c2-44c6-89f1-20a85992154d
      version: -1
      name: Do we have BP-V-8 issues?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: GetIndicatorFieldsByQuery.issueid
            iscontext: true
          right:
            value:
              simple: BP-V-8
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 243c17a5-d569-457a-86f0-3e842e3cc040
    type: regular
    task:
      id: 243c17a5-d569-457a-86f0-3e842e3cc040
      version: -1
      name: Group
      description: Groups configuration issues into actionable items so they can be
        passed into the `pan-os-config-bulk-update` command.
      scriptName: GroupIssuesByFields
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      extend-context:
        simple: bpv8fixes=.
      indicator_fields_by_query:
        complex:
          root: GetIndicatorFieldsByQuery
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: GetIndicatorFieldsByQuery.issueid
                iscontext: true
              right:
                value:
                  simple: BP-V-8
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 435a034c-6060-464c-8620-7399bd35fb48
    type: playbook
    task:
      id: 435a034c-6060-464c-8620-7399bd35fb48
      version: -1
      name: PAN-OS Network Operation - Run Bulk Change
      description: This playbook runs the fixes identified by GroupIssuesByFields
        as a looped playbook to ensure the correct objects are updated at all times.
      playbookName: PAN-OS Network Operations - Run Bulk Change
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      attribute_to_update:
        simple: log_end
      issue_to_fix:
        simple: ${bpv8fixes}
      new_value:
        simple: "true"
      object_type:
        simple: SecurityRule
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: d572a1dc-b589-4243-8ef5-043ca59a89a7
    type: title
    task:
      id: d572a1dc-b589-4243-8ef5-043ca59a89a7
      version: -1
      name: Commit
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 19e55f6c-fb48-4ddf-8559-c08faee60244
    type: playbook
    task:
      id: 19e55f6c-fb48-4ddf-8559-c08faee60244
      version: -1
      name: PAN-OS Commit Configuration
      description: Commit the PAN-OS Panorama or Firewall configuration.\nIf specified
        as Panorama, it also pushes the Policies to the specified Device Group in
        the instance.
      playbookName: PAN-OS Commit Configuration
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 1bde3d87-96a1-4e61-83ea-bc47ffa90d57
    type: condition
    task:
      id: 1bde3d87-96a1-4e61-83ea-bc47ffa90d57
      version: -1
      name: Automatically commit the fixes?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              simple: incident.autocommit
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 90b0390d-3e3f-4580-88be-25756f98a4fd
    type: regular
    task:
      id: 90b0390d-3e3f-4580-88be-25756f98a4fd
      version: -1
      name: Mark Complete to Commit the changes
      description: 'Mark this task complete to commit the changes made to Panorama
        and push them to the device groups. '
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 390,
          "y": 2400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: a004d6b5-ec3d-4c9d-85a4-eb0200050a66
    type: regular
    task:
      id: a004d6b5-ec3d-4c9d-85a4-eb0200050a66
      version: -1
      name: Close the remediation
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: a992eb26-5659-4197-87ca-6c5afc4edaf0
    type: condition
    task:
      id: a992eb26-5659-4197-87ca-6c5afc4edaf0
      version: -1
      name: Do we have BP-V-9 issues?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: GetIndicatorFieldsByQuery.issueid
            iscontext: true
          right:
            value:
              simple: BP-V-9
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: fb6a0550-a458-4413-8e6f-82fd9043c43e
    type: regular
    task:
      id: fb6a0550-a458-4413-8e6f-82fd9043c43e
      version: -1
      name: Group
      description: Groups configuration issues into actionable items so they can be
        passed into the `pan-os-config-bulk-update` command.
      scriptName: GroupIssuesByFields
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      extend-context:
        simple: bpv9fixes=.
      indicator_fields_by_query:
        complex:
          root: GetIndicatorFieldsByQuery
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: GetIndicatorFieldsByQuery.issueid
                iscontext: true
              right:
                value:
                  simple: BP-V-9
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 9a87ef4d-5707-4288-8034-2f4fba0e12a4
    type: playbook
    task:
      id: 9a87ef4d-5707-4288-8034-2f4fba0e12a4
      version: -1
      name: PAN-OS Network Operation - Run Bulk Change
      description: This playbook runs the fixes identified by GroupIssuesByFields
        as a looped playbook to ensure the correct objects are updated at all times.
      playbookName: PAN-OS Network Operations - Run Bulk Change
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      attribute_to_update:
        simple: log_setting
      issue_to_fix:
        simple: ${bpv9fixes}
      new_value:
        simple: ${inputs.default_log_forwarding_profile}
      object_type:
        simple: SecurityRule
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: b3c0e1d7-f6c3-4790-8c09-f2fdd6c9159f
    type: regular
    task:
      id: b3c0e1d7-f6c3-4790-8c09-f2fdd6c9159f
      version: -1
      name: Set the indicator as Resolved
      description: commands.local.cmd.set.indicator
      script: Builtin|||setIndicator
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      issuestatus:
        simple: resolved
      value:
        simple: ${GetIndicatorFieldsByQuery.value}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: b6ebecf3-63f6-4616-82cd-1c08dcaebda7
    type: regular
    task:
      id: b6ebecf3-63f6-4616-82cd-1c08dcaebda7
      version: -1
      name: Get Log Forwarding Profiles
      description: Searches and returns a reference for the given object type and
        name. If no name is provided, all objects of the given type will be returned.
        Note this ONLY returns the object name and its location in the configuration
        hierachy, not the entire object.
      script: '|||pan-os-config-get-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      device_filter_string:
        simple: ${GetIndicatorFieldsByQuery.issueaffecteddevice}
      object_type:
        simple: LogForwardingProfile
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 7167f0d2-a55f-44c6-823a-b9ec5b2ba8d0
    type: condition
    task:
      id: 7167f0d2-a55f-44c6-823a-b9ec5b2ba8d0
      version: -1
      name: Do we have a default log forwarding profile?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.default_log_forwarding_profile
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 40abbeb5-d9bb-4f1f-8786-950726bd9ad1
    type: collection
    task:
      id: 40abbeb5-d9bb-4f1f-8786-950726bd9ad1
      version: -1
      name: Select the log Forwarding profile to use.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body: null
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          complex:
            root: PANOS.PanosObject
            accessor: name
            transformers:
            - operator: concat
              args:
                prefix:
                  value:
                    simple: |+
                      #### Set the default log forwarding profile.

                      *The Log Forwarding profiles configured in Panorama are listed below*



                suffix: {}
            - operator: join
              args:
                separator:
                  value:
                    simple: ', '
        required: true
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: defaultlogforwardingprofile
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Log Forwarding Profile Selection
      description: |-
        To rectify BP-V-9 issues - missing log forwarding setting - you must choose which log forwarding profile to set.

        **A default  value can be provided in the playbook inputs to avoid this question in the future.**
      sender: Your SOC team
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 2c11ec4a-8945-4966-8150-ff4a6604225c
    type: title
    task:
      id: 2c11ec4a-8945-4966-8150-ff4a6604225c
      version: -1
      name: Threat
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -450,
          "y": 500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 8ff5465e-98d2-47a5-80af-5069376bb293
    type: title
    task:
      id: 8ff5465e-98d2-47a5-80af-5069376bb293
      version: -1
      name: BP-V-10
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -450,
          "y": 640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: ee7bc94d-12a9-4646-8cab-1d1895640423
    type: condition
    task:
      id: ee7bc94d-12a9-4646-8cab-1d1895640423
      version: -1
      name: Do we have BP-V-10 issues?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: GetIndicatorFieldsByQuery.issueid
            iscontext: true
          right:
            value:
              simple: BP-V-10
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -450,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: da507c74-f624-41bb-86d3-26dda90bf795
    type: regular
    task:
      id: da507c74-f624-41bb-86d3-26dda90bf795
      version: -1
      name: Group
      description: Groups configuration issues into actionable items so they can be
        passed into the `pan-os-config-bulk-update` command.
      scriptName: GroupIssuesByFields
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      extend-context:
        simple: bpv10fixes=.
      indicator_fields_by_query:
        complex:
          root: GetIndicatorFieldsByQuery
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: GetIndicatorFieldsByQuery.issueid
                iscontext: true
              right:
                value:
                  simple: BP-V-10
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -450,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 1ca5f361-fa07-47f7-8043-e2697567b836
    type: playbook
    task:
      id: 1ca5f361-fa07-47f7-8043-e2697567b836
      version: -1
      name: PAN-OS Network Operation - Run Bulk Change
      description: This playbook runs the fixes identified by GroupIssuesByFields
        as a looped playbook to ensure the correct objects are updated at all times.
      playbookName: PAN-OS Network Operations - Run Bulk Change
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      attribute_to_update:
        simple: group
      issue_to_fix:
        simple: ${bpv10fixes}
      new_value:
        simple: ${inputs.default_security_profile_group}
      object_type:
        simple: SecurityRule
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": -450,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: b8978320-5a75-4c80-898a-5259d1cc6579
    type: regular
    task:
      id: b8978320-5a75-4c80-898a-5259d1cc6579
      version: -1
      name: Get Security Profile Groups
      description: Searches and returns a reference for the given object type and
        name. If no name is provided, all objects of the given type will be returned.
        Note this ONLY returns the object name and its location in the configuration
        hierachy, not the entire object.
      script: '|||pan-os-config-get-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      device_filter_string:
        simple: ${GetIndicatorFieldsByQuery.issueaffecteddevice}
      object_type:
        simple: SecurityProfileGroup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -710,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 61ff708e-0685-4702-8191-0957f657bb71
    type: condition
    task:
      id: 61ff708e-0685-4702-8191-0957f657bb71
      version: -1
      name: Do we have a default Security Profile Group
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "26"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.default_security_profile_group
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -450,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 1251405e-0cb5-4181-8ab9-7e1657758ae8
    type: collection
    task:
      id: 1251405e-0cb5-4181-8ab9-7e1657758ae8
      version: -1
      name: Select the Security Profile Group to use.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -710,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body: null
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          complex:
            root: PANOS.PanosObject
            accessor: name
            transformers:
            - operator: concat
              args:
                prefix:
                  value:
                    simple: |+
                      ### Enter the security profile group to use for the rules. The existing security profile groups are;

                suffix: {}
            - operator: join
              args:
                separator:
                  value:
                    simple: ', '
        required: true
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: defaultsecurityprofilegroup
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Log Forwarding Profile Selection
      description: |-
        To rectify BP-V-10 issues - a missing security profile group - you must choose security profile group to set on the rule.

        **A default  value can be provided in the playbook inputs to avoid this question in the future.**
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 8615b4ed-a78c-4738-80e8-0c69178f98f2
    type: title
    task:
      id: 8615b4ed-a78c-4738-80e8-0c69178f98f2
      version: -1
      name: BP-V-9
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: a6c9d640-a141-4e18-8205-5cdffdfa8baa
    type: title
    task:
      id: a6c9d640-a141-4e18-8205-5cdffdfa8baa
      version: -1
      name: BP-V-7
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 55441c10-d778-4fbc-8297-62d242c9bc2b
    type: condition
    task:
      id: 55441c10-d778-4fbc-8297-62d242c9bc2b
      version: -1
      name: Do we have BP-V-7 issues?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "34"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: GetIndicatorFieldsByQuery.issueid
            iscontext: true
          right:
            value:
              simple: BP-V-7
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 44be604b-12aa-47ba-8c78-3ddcc08fa8bf
    type: regular
    task:
      id: 44be604b-12aa-47ba-8c78-3ddcc08fa8bf
      version: -1
      name: Group
      description: Groups configuration issues into actionable items so they can be
        passed into the `pan-os-config-bulk-update` command.
      scriptName: GroupIssuesByFields
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      extend-context:
        simple: bpv7fixes=.
      indicator_fields_by_query:
        complex:
          root: GetIndicatorFieldsByQuery
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: GetIndicatorFieldsByQuery.issueid
                iscontext: true
              right:
                value:
                  simple: BP-V-7
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: b7d5ecde-8a90-4876-8bfb-e72e24b1f47e
    type: regular
    task:
      id: b7d5ecde-8a90-4876-8bfb-e72e24b1f47e
      version: -1
      name: Get Log Forwarding Profiles
      description: Searches and returns a reference for the given object type and
        name. If no name is provided, all objects of the given type will be returned.
        Note this ONLY returns the object name and its location in the configuration
        hierachy, not the entire object.
      script: '|||pan-os-config-get-object'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      device_filter_string:
        simple: ${GetIndicatorFieldsByQuery.issueaffecteddevice}
      object_type:
        simple: LogForwardingProfile
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: d7f5796d-53f4-4df3-80ce-c3457a0d1a80
    type: condition
    task:
      id: d7f5796d-53f4-4df3-80ce-c3457a0d1a80
      version: -1
      name: Do we have a default log forwarding profile?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "35"
      "yes":
      - "38"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.default_log_forwarding_profile
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 072228bb-a190-41b3-87c3-2b4778765874
    type: collection
    task:
      id: 072228bb-a190-41b3-87c3-2b4778765874
      version: -1
      name: Select the log Forwarding profile to use.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body: null
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          complex:
            root: PANOS.PanosObject
            accessor: name
            transformers:
            - operator: concat
              args:
                prefix:
                  value:
                    simple: |+
                      #### Set the default log forwarding profile.

                      *The Log Forwarding profiles configured in Panorama are listed below*



                suffix: {}
            - operator: join
              args:
                separator:
                  value:
                    simple: ', '
        required: true
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: defaultlogforwardingprofile
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Log Forwarding Profile Selection
      description: |-
        To rectify BP-V-7 issues - missing log forwarding setting - you must choose which log forwarding profile to set.

        **A default  value can be provided in the playbook inputs to avoid this question in the future.**
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: 67ed9f9c-5ba6-4142-8cfd-8917201bbecc
    type: playbook
    task:
      id: 67ed9f9c-5ba6-4142-8cfd-8917201bbecc
      version: -1
      name: PAN-OS Network Operation - Run Bulk Change
      description: This playbook runs the fixes identified by GroupIssuesByFields
        as a looped playbook to ensure the correct objects are updated at all times.
      playbookName: PAN-OS Network Operations - Run Bulk Change
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      attribute_to_update:
        simple: log_setting
      issue_to_fix:
        simple: ${bpv7fixes}
      new_value:
        simple: ${inputs.default_log_forwarding_profile}
      object_type:
        simple: SecurityZone
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 64346bb3-d04d-47ed-89ac-6ca200a78b4b
    type: title
    task:
      id: 64346bb3-d04d-47ed-89ac-6ca200a78b4b
      version: -1
      name: No Issues.
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -870,
          "y": 975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2805,
        "width": 2700,
        "x": -870,
        "y": 20
      }
    }
  }
inputs:
- key: issue_query
  value:
    simple: ${incident.issuequery}
  required: true
  description: The TIM query to filter for issues.
  playbookInputQuery: null
- key: default_log_forwarding_profile
  value:
    simple: ${incident.defaultlogforwardingprofile}
  required: false
  description: If present, will be used whenever log forwarding needs to be enabled.
  playbookInputQuery: null
- key: default_security_profile_group
  value:
    simple: ${incident.defaultsecurityprofilegroup}
  required: false
  description: If present, will be used whenever a security profile group needs to
    be set.
  playbookInputQuery: null
outputs: []
