Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Create_CVE_Relationships.yml
id: 1e9d1015-078f-4ac0-8bf7-6a471404561d
version: 5
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Create CVE Relationships
description: Given a PAN-OS version, searches the security advisories website for
  matching CVEs and relates them when seen.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d668fac3-5127-4e49-8a27-1c9b8e77af4c
    type: start
    task:
      id: d668fac3-5127-4e49-8a27-1c9b8e77af4c
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 266a0a56-9fc0-486f-8b07-7f6b23ee40a7
    type: regular
    task:
      id: 266a0a56-9fc0-486f-8b07-7f6b23ee40a7
      version: -1
      name: Get the advisories for this Version
      description: Gets all the advisories for the given product.
      script: '|||pan-advisories-get-advisories'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      product:
        simple: PAN-OS
      q:
        simple: ${inputs.panos_version}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 1383e798-cf29-4fb4-8fc4-c61b1270f15c
    type: regular
    task:
      id: 1383e798-cf29-4fb4-8fc4-c61b1270f15c
      version: -1
      name: Check if this version is affected by any CVEs
      description: Checks if the given PAN-OS version number is affected by the given
        list of vulnerabilties from the pan-advisories-get-advisories command.
      scriptName: CheckPanosVersionAffected
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      advisories:
        simple: ${PANSecurityAdvisory.Advisory}
      version:
        simple: ${inputs.panos_version}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 30
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: d1591a3b-e4f4-4482-853d-6d0d8c1d6308
    type: regular
    task:
      id: d1591a3b-e4f4-4482-853d-6d0d8c1d6308
      version: -1
      name: Find Existing Relationships
      description: This automation outputs the indicator relationships to context
        according to the provided query, using the entities, entityTypes, and relationships
        arguments. All arguments will use the AND operator. For example, using the
        following arguments entities=8.8.8.8 entities_types=Domain will provide only
        relationships that the 8.8.8.8 indicator has with indicators of type domain.
      scriptName: SearchIndicatorRelationships
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      entities_types:
        simple: CVE
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 172f58d4-19e9-45ff-8bdc-5dc0218feb3b
    type: regular
    task:
      id: 172f58d4-19e9-45ff-8bdc-5dc0218feb3b
      version: -1
      name: Delete any CVE Relationships no longer applicable to this version.
      description: This automation allows to delete a relationship between indicator
        objects based on the relationship id.
      scriptName: DeleteIndicatorRelationships
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      ids:
        complex:
          root: Relationships
          filters:
          - - operator: notIn
              left:
                value:
                  simple: Relationships.EntityB
                iscontext: true
              right:
                value:
                  simple: MatchingSecurityAdvisory.cve_id
                iscontext: true
          accessor: ID
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: d02b6589-4432-4258-84db-304b43ef55a4
    type: regular
    task:
      id: d02b6589-4432-4258-84db-304b43ef55a4
      version: -1
      name: Create Indicator Relationships
      description: This automation creates a relationship between indicator objects.
      scriptName: CreateIndicatorRelationship
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      entity_a:
        simple: ${inputs.panos_id}
      entity_a_type:
        simple: Network Device
      entity_b:
        simple: ${MatchingSecurityAdvisory.cve_id}
      entity_b_type:
        simple: CVE
      relationship:
        simple: related-to
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 964061d8-44c1-420f-811b-b26c4011e688
    type: condition
    task:
      id: 964061d8-44c1-420f-811b-b26c4011e688
      version: -1
      name: Are there now redundant relationships?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Relationships
                filters:
                - - operator: notIn
                    left:
                      value:
                        simple: Relationships.EntityB
                      iscontext: true
                    right:
                      value:
                        simple: MatchingSecurityAdvisory.cve_id
                      iscontext: true
                accessor: ID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: ec397dd2-546c-4531-86d8-393d7c4eabe2
    type: title
    task:
      id: ec397dd2-546c-4531-86d8-393d7c4eabe2
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 13109a6b-e8fb-4007-8624-707c1d8e0dac
    type: condition
    task:
      id: 13109a6b-e8fb-4007-8624-707c1d8e0dac
      version: -1
      name: Did we get any advisories?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: PANSecurityAdvisory.Advisory.cve_id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 5543cce1-717e-4499-8755-6ad29c723a51
    type: regular
    task:
      id: 5543cce1-717e-4499-8755-6ad29c723a51
      version: -1
      name: Delete all CVE Relationships.
      description: This automation allows to delete a relationship between indicator
        objects based on the relationship id.
      scriptName: DeleteIndicatorRelationships
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      ids:
        simple: ${Relationships.ID}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 9fe983af-5d3c-40bc-8b51-b96e6f2f827f
    type: condition
    task:
      id: 9fe983af-5d3c-40bc-8b51-b96e6f2f827f
      version: -1
      name: Did we get any advisories?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: MatchingSecurityAdvisory.cve_id
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1675,
        "width": 840,
        "x": 450,
        "y": -640
      }
    }
  }
inputs:
- key: panos_version
  value:
    simple: 9.0.5
  required: false
  description: ""
  playbookInputQuery: null
- key: panos_id
  value:
    simple: 6F5A32602DF9260
  required: false
  description: ""
  playbookInputQuery: null
- key: device_type
  value:
    simple: Network Device
  required: false
  description: ""
  playbookInputQuery: null
- key: ""
  value: {}
  required: false
  description: ""
  playbookInputQuery:
    query: type:"Panorama Device" or type:"Network Device"
    queryEntity: indicators
    results: null
    daterange:
      fromdate: 0001-01-01T00:00:00Z
      todate: 0001-01-01T00:00:00Z
      period:
        by: ""
        byto: ""
        byfrom: ""
        tovalue: null
        fromvalue: null
        field: ""
      fromdatelicenseval: 0001-01-01T00:00:00Z
    runFromLastJobTime: true
outputs: []
