Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Device_Upgrade_Loop.yml
id: bdf72993-9e2c-424d-855a-ab69079b1d3a
version: 7
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Device Upgrade Loop
description: Upgrades a single or HA pair of PAN-OS firewalls, supports running as
  a subplaybook and be looped over to complete an entire upgrade path.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 36ee7631-2f8d-48ad-8023-83f1e4c06130
    type: start
    task:
      id: 36ee7631-2f8d-48ad-8023-83f1e4c06130
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "62"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: bfb4ccf2-a56d-4bd6-88df-21f509dddb5a
    type: condition
    task:
      id: bfb4ccf2-a56d-4bd6-88df-21f509dddb5a
      version: -1
      name: Is this a HA Pair?
      description: True if the device belongs to a HA Pair
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "15"
      active-active:
      - "67"
      active-passive:
      - "44"
    separatecontext: false
    conditions:
    - label: active-passive
      condition:
      - - operator: isExists
          left:
            value:
              simple: ActiveDevice
            iscontext: true
      - - operator: isExists
          left:
            value:
              simple: PassiveDevice
            iscontext: true
    - label: active-active
      condition:
      - - operator: isExists
          left:
            value:
              simple: ActiveDevice
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: fc4f185d-9c78-4a22-8433-0224275464fc
    type: title
    task:
      id: fc4f185d-9c78-4a22-8433-0224275464fc
      version: -1
      name: HA Pair process
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
      - "29"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": 160
        }
      }
    note: false
    timertriggers:
    - fieldname: deviceupgradetimer
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: df45f6c5-505d-49d2-8e83-1ee22f3f496c
    type: playbook
    task:
      id: df45f6c5-505d-49d2-8e83-1ee22f3f496c
      version: -1
      name: PAN-OS Network Operations - Single Device Upgrade
      description: Runs a complete upgrade process for a single device
      playbookName: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      target:
        simple: ${inputs.target_device}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 870,
          "y": 790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 07553845-7060-4d49-833e-19c4e35ab973
    type: regular
    task:
      id: 07553845-7060-4d49-833e-19c4e35ab973
      version: -1
      name: Mark Complete When Ready For Upgrade
      description: |-
        ### Mark this task complete to begin the Upgrade Process to software version ${incident.nextupgradeversion}

        The upgrade process will involve downloading the firewall software, installing it then finally rebooting the device and waiting for it to reboot.

        If this device is not in a high-availability pair, **you can expect a period of network disruption to occur during the upgrade process**.

        If the device is in a HA pair, there may be a brief period of traffic interruption when the firewalls failover between active and passive, which occurs twice during the upgrade process.
      tags:
      - start-upgrade
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "63"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 2f197b69-3f88-4d88-822a-a8ad35961112
    type: title
    task:
      id: 2f197b69-3f88-4d88-822a-a8ad35961112
      version: -1
      name: Single Device Process
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 295
        }
      }
    note: false
    timertriggers:
    - fieldname: deviceupgradetimer
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 3173aefa-9b52-4ed1-847c-38aea55fbb6c
    type: playbook
    task:
      id: 3173aefa-9b52-4ed1-847c-38aea55fbb6c
      version: -1
      name: PAN-OS Network Operations - Single Device Upgrade
      description: Runs a complete upgrade process for a single device
      playbookName: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      target:
        simple: ${OriginalPassive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 230,
          "y": 630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 40f59a59-e822-499a-89d9-bd2e6fd64375
    type: regular
    task:
      id: 40f59a59-e822-499a-89d9-bd2e6fd64375
      version: -1
      name: Get HA State
      description: Get the HA state and assocaited details from the given device and
        any other details.
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      device_filter_string:
        simple: ${OriginalPassive}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: a200d618-b383-4508-866c-0475d3bed529
    type: condition
    task:
      id: a200d618-b383-4508-866c-0475d3bed529
      version: -1
      name: Is device passive after upgrade?
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "50"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: PANOS.HAState
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.HAState.hostid
                      iscontext: true
                    right:
                      value:
                        simple: OriginalPassive
                      iscontext: true
                accessor: status
            iscontext: true
          right:
            value:
              simple: passive
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 3fbde04f-1a0d-42aa-80f6-dcd3ca187e83
    type: regular
    task:
      id: 3fbde04f-1a0d-42aa-80f6-dcd3ca187e83
      version: -1
      name: Suspend Active firewall
      description: "Suspends the active firewall, causing the pair to failover to
        the secondary. \n\nThis task can error in the event that the suspension breaks
        the connectivity between XSOAR and the firewall - in this case, we continue,
        as a subsequent task will error if the firewalls are truly unreachable (which
        would, of course, be very bad)"
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      execution-timeout:
        simple: "120"
      hostid:
        simple: ${OriginalActive}
      state:
        simple: suspend
      target:
        simple: ${OriginalActive}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 6d032bd8-4ff4-48ea-86b1-e904a663a258
    type: regular
    task:
      id: 6d032bd8-4ff4-48ea-86b1-e904a663a258
      version: -1
      name: Error - Wrong HA mode.
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Device did not return to passive mode after upgrade.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -370,
          "y": 2510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 9bceb032-9135-436c-8ac5-e1d81c924697
    type: playbook
    task:
      id: 9bceb032-9135-436c-8ac5-e1d81c924697
      version: -1
      name: PAN-OS Network Operations - Single Device Upgrade
      description: Runs a complete upgrade process for a single device
      playbookName: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      target:
        simple: ${OriginalActive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: e96a7ca4-afb4-4d86-868e-700e6d665336
    type: regular
    task:
      id: e96a7ca4-afb4-4d86-868e-700e6d665336
      version: -1
      name: Sleep for failover process to complete safely
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: ce7b6ff1-3c66-44b3-87e6-df4af6b355ad
    type: regular
    task:
      id: ce7b6ff1-3c66-44b3-87e6-df4af6b355ad
      version: -1
      name: Get HA State
      description: Get the HA state and assocaited details from the given device and
        any other details.
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      device_filter_string:
        simple: ${OriginalActive}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 1800739a-737e-4b26-8c62-95c4e82bd879
    type: condition
    task:
      id: 1800739a-737e-4b26-8c62-95c4e82bd879
      version: -1
      name: Is device passive after upgrade?
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "52"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: PANOS.HAState
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.HAState.hostid
                      iscontext: true
                    right:
                      value:
                        simple: OriginalActive
                      iscontext: true
                accessor: status
            iscontext: true
          right:
            value:
              simple: passive
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 19464f94-12c5-460c-8773-c3483a5190c4
    type: regular
    task:
      id: 19464f94-12c5-460c-8773-c3483a5190c4
      version: -1
      name: Suspend Passive firewall
      description: "Suspends the active firewall, causing the pair to failover to
        the passive. \n\nThis task can error in the event that the suspension breaks
        the connectivity between XSOAR and the firewall - in this case, we continue,
        as a subsequent task will error if the firewalls are truly unreachable (which
        would, of course, be very bad)"
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      execution-timeout:
        simple: "240"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: suspend
      target:
        simple: ${OriginalPassive}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2660
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: c1a6f88f-9cae-4a54-815a-e8a195e0723f
    type: regular
    task:
      id: c1a6f88f-9cae-4a54-815a-e8a195e0723f
      version: -1
      name: Sleep for failover process to complete safely
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 0e2d68dd-f3ea-48dd-8f5b-7f672bebb1c6
    type: regular
    task:
      id: 0e2d68dd-f3ea-48dd-8f5b-7f672bebb1c6
      version: -1
      name: Set Original Active
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      key:
        simple: OriginalActive
      value:
        simple: ${ActiveDevice}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 10,
          "y": 310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 0b3060af-6a4d-42af-8f39-8bfb8053dbf3
    type: regular
    task:
      id: 0b3060af-6a4d-42af-8f39-8bfb8053dbf3
      version: -1
      name: Set Original Passive
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      key:
        simple: OriginalPassive
      value:
        simple: ${PassiveDevice}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 440,
          "y": 310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: d58e6607-5452-42cb-8210-98fe01a59606
    type: regular
    task:
      id: d58e6607-5452-42cb-8210-98fe01a59606
      version: -1
      name: Unsuspend Passive Firewall
      description: Checks the status of the given device, checking whether it's up
        or down and the operational mode normal
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      execution-timeout:
        simple: "300"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: functional
      target:
        simple: ${OriginalPassive}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: ec251e77-a8a7-493c-8046-b9aca5dca58e
    type: regular
    task:
      id: ec251e77-a8a7-493c-8046-b9aca5dca58e
      version: -1
      name: Close incident - Complete
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 6cf9289a-0b8a-482b-8218-fc32a627f034
    type: regular
    task:
      id: 6cf9289a-0b8a-482b-8218-fc32a627f034
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "71"
      - "72"
    scriptarguments:
      description:
        simple: Starting Upgrade to ${inputs.target_version}
      nextupgradeversion:
        simple: ${inputs.target_version}
      preupgradesnapshot:
        complex:
          root: File
          accessor: EntryID
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 9c9f09c5-e836-4ed1-8408-069b912be670
    type: regular
    task:
      id: 9c9f09c5-e836-4ed1-8408-069b912be670
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalPassive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -570,
          "y": 2330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 41f1c486-9f7e-4d6f-878a-6e58907eab70
    type: regular
    task:
      id: 41f1c486-9f7e-4d6f-878a-6e58907eab70
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalActive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -170,
          "y": 2330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: b463de75-3503-467b-8f04-0ca0b4a55aa4
    type: regular
    task:
      id: b463de75-3503-467b-8f04-0ca0b4a55aa4
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      description:
        simple: Upgrade complete.
      postupgradesnapshot:
        complex:
          root: File
          accessor: EntryID
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "0.5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 8d4caf98-7c61-4184-8b47-9ce217f51084
    type: regular
    task:
      id: 8d4caf98-7c61-4184-8b47-9ce217f51084
      version: -1
      name: Sleep 1min to wait for all devices to connect
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      execution-timeout:
        simple: "300"
      seconds:
        simple: "100"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: eee29d90-da4d-490e-89fb-ecf85bbfa311
    type: regular
    task:
      id: eee29d90-da4d-490e-89fb-ecf85bbfa311
      version: -1
      name: 'Get System Status of HA Peer '
      description: Checks the status of the given device, checking whether it's up
        or down and the operational mode normal
      script: '|||pan-os-platform-get-system-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      hostid:
        simple: ${PANOS.HAState.peer}
      target:
        simple: ${PassiveDevice}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": -360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 2cb24729-6744-4f3e-86b8-16ca74284d72
    type: condition
    task:
      id: 2cb24729-6744-4f3e-86b8-16ca74284d72
      version: -1
      name: Is the HA peer up/Reachable?
      description: Checks the HA peer is back up.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              simple: PANOS.SystemStatus.up
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": -190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 6c6b7a14-3a56-4806-8416-58223abea392
    type: condition
    task:
      id: 6c6b7a14-3a56-4806-8416-58223abea392
      version: -1
      name: Confirm upgrade when no passive firewall is UP
      description: Confirm thatthe upgrade should continue if peer device down..
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "No":
      - "47"
      "Yes":
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 470,
          "y": 30
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: HA Peer ${PANOS.SystemStatus.hostid} is not up. Do you want to proceed
          with the upgrade anyway?
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
      replyOptions:
      - "Yes"
      - "No"
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 14aa6f04-4d0e-4f28-85ab-958e6649c542
    type: regular
    task:
      id: 14aa6f04-4d0e-4f28-85ab-958e6649c542
      version: -1
      name: Close Incident - Will not upgrade
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeNotes:
        simple: Passive peer was not up - upgrade process halted.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -420,
          "y": 310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: fe39177a-0353-47fa-8f4d-11ee24cf018b
    type: regular
    task:
      id: fe39177a-0353-47fa-8f4d-11ee24cf018b
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      description:
        simple: Upgrading currently passive peer.
      name:
        simple: PAN-OS High-Availability Upgrade - ${OriginalActive}/${OriginalPassive}
      severity:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 34663cd1-da40-4f5e-8990-362eb734e4c0
    type: regular
    task:
      id: 34663cd1-da40-4f5e-8990-362eb734e4c0
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      description:
        simple: Performing Failover
      severity:
        simple: "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: 212a665a-e5ae-4da3-82be-adab7fa7f5d1
    type: regular
    task:
      id: 212a665a-e5ae-4da3-82be-adab7fa7f5d1
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      description:
        simple: Upgrading previously active firewall
      severity:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 1402ed31-b9bf-4433-8104-e027e4a89441
    type: regular
    task:
      id: 1402ed31-b9bf-4433-8104-e027e4a89441
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      description:
        simple: Restoring HA state.
      severity:
        simple: "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 5815acbd-e56f-4391-8247-c90a91bb72a9
    type: regular
    task:
      id: 5815acbd-e56f-4391-8247-c90a91bb72a9
      version: -1
      name: Set Status
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      description:
        simple: Upgrading Standalone device to ${inputs.target_version}
      severity:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: a0c2c2d9-876e-491b-8434-ce9a4d4c03c5
    type: condition
    task:
      id: a0c2c2d9-876e-491b-8434-ce9a4d4c03c5
      version: -1
      name: Have we reached the target version?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.nextupgradeversion
            iscontext: true
          right:
            value:
              simple: incident.panosnetworkoperationsupgradetargetversion
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 0ad7e008-4d9d-4d88-8a63-31c81680b676
    type: condition
    task:
      id: 0ad7e008-4d9d-4d88-8a63-31c81680b676
      version: -1
      name: Have we already marked this upgrade ready to start?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "73"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              simple: incident.upgradeconfirmed
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: d8eaa774-5a0b-4e33-86db-fb9d53116004
    type: regular
    task:
      id: d8eaa774-5a0b-4e33-86db-fb9d53116004
      version: -1
      name: Mark Upgrade as Confirmed
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      upgradeconfirmed:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: d43e74ca-ecc8-4604-82ee-5243929d36b7
    type: title
    task:
      id: d43e74ca-ecc8-4604-82ee-5243929d36b7
      version: -1
      name: Continue Upgrade Process
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: 3ff0bc38-56f7-48d9-868a-af76ae34e0aa
    type: playbook
    task:
      id: 3ff0bc38-56f7-48d9-868a-af76ae34e0aa
      version: -1
      name: PAN-OS Network Operations - Get HA Pair Status
      playbookName: PAN-OS Network Operations - Get HA Pair Status
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 520,
          "y": -730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: c5a36cba-6043-4b6f-8524-8d19fe1ea09c
    type: regular
    task:
      id: c5a36cba-6043-4b6f-8524-8d19fe1ea09c
      version: -1
      name: Error - Active/active firewall pair unsupported.
      description: Prints an error entry with a given message
      scriptName: PrintErrorEntry
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      message:
        simple: Pair is active/active - this is not yet supported.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -170,
          "y": -360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: f86a226f-10b1-4253-876c-b627977dfb3b
    type: condition
    task:
      id: f86a226f-10b1-4253-876c-b627977dfb3b
      version: -1
      name: Should we reset the HA Topology?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "74"
      "yes":
      - "26"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.reset_ha_topology
            iscontext: true
          right:
            value:
              simple: "true"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: 5a7e5bd4-cf9d-498f-85a3-80412b226563
    type: regular
    task:
      id: 5a7e5bd4-cf9d-498f-85a3-80412b226563
      version: -1
      name: Clear out old keys
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      key:
        simple: ActiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 280,
          "y": -910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 3ba7858f-17c9-4fc8-8803-f979a27317ca
    type: regular
    task:
      id: 3ba7858f-17c9-4fc8-8803-f979a27317ca
      version: -1
      name: Clear out old keys
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      key:
        simple: PassiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 720,
          "y": -910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 22115141-3f26-4dd2-8bd0-f9b779e9670a
    type: playbook
    task:
      id: 22115141-3f26-4dd2-8bd0-f9b779e9670a
      version: -1
      name: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      playbookName: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      target:
        simple: ${incident.panosnetworkoperationstarget}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: 48b44133-6ecd-4748-87f1-44231927e6a0
    type: playbook
    task:
      id: 48b44133-6ecd-4748-87f1-44231927e6a0
      version: -1
      name: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      description: Take a second snapshot and finalize the comparison tests.
      playbookName: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: f7701264-679b-4e5f-8909-d4e33dcaf4ef
    type: playbook
    task:
      id: f7701264-679b-4e5f-8909-d4e33dcaf4ef
      version: -1
      name: PAN-OS Network Operations - Upgrade Assurance - HA Test
      description: Take a snapshot after HA and run comparison tests.
      playbookName: PAN-OS Network Operations - Upgrade Assurance - HA Test
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "51"
    scriptarguments:
      target:
        simple: ${OriginalPassive}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 6005,
        "width": 1820,
        "x": -570,
        "y": -2050
      }
    }
  }
inputs:
- key: target_device
  value:
    simple: ${incident.panosnetworkoperationstarget}
  required: false
  description: Target Firewall for upgrade
  playbookInputQuery: null
- key: peer_device
  value:
    simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
  required: false
  description: Peer firewall (if any)
  playbookInputQuery: null
- key: target_version
  value:
    simple: ${incident.panosnetworkoperationsupgradetargetversion}
  required: false
  description: Target version of upgrade
  playbookInputQuery: null
- key: reset_ha_topology
  value:
    simple: "false"
  required: false
  description: If "true", HA topology will be reverted to the original active and
    passive devices after upgrade.
  playbookInputQuery: null
outputs: []
sourceplaybookid: PAN-OS Network Operations - Device Upgrade
