Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Commit_Configuration.yml
id: PAN-OS Network Operations - Commit Configuration
version: 5
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Commit Configuration
description: Commits to either a single device, or across all devices in the topology.
  PAN-OS integration will attempt to only commit to devices that require it, not blanket
  to all possible devices.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 11a2f49b-b121-4100-896a-cc42f3071068
    type: start
    task:
      id: 11a2f49b-b121-4100-896a-cc42f3071068
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": -740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 2ec79123-adde-4843-89c6-a8ec6313b077
    type: regular
    task:
      id: 2ec79123-adde-4843-89c6-a8ec6313b077
      version: -1
      name: Commit on all devices
      description: Commit the configuration for the entire topology. Note this only
        commits the configuration - it does
      script: '|||pan-os-config-commit'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.device_filter_string}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: f2d38f24-abd7-4dc1-8eb8-4d19fe7a54c6
    type: playbook
    task:
      id: f2d38f24-abd7-4dc1-8eb8-4d19fe7a54c6
      version: -1
      name: GenericPolling
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      playbookName: GenericPolling
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Ids:
        complex:
          root: PANOS.CommitStatus
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.CommitStatus.status
                iscontext: true
              right:
                value:
                  simple: ACT
          accessor: job_id
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: match_job_id
      PollingCommandName:
        simple: pan-os-config-get-commit-status
      Timeout:
        simple: "10"
      dt:
        simple: PANOS.CommitStatus(val.status=="ACT").hostid
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 450,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 96ff2287-c98d-4b58-82d9-98faa5c3541d
    type: regular
    task:
      id: 96ff2287-c98d-4b58-82d9-98faa5c3541d
      version: -1
      name: Get commit job status
      description: Returns the status of the commit operation on all devices. If an
        ID is given, only that id will be
      script: '|||pan-os-config-get-commit-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: a7741336-be6f-4a51-86b9-ad88f17d56ab
    type: condition
    task:
      id: a7741336-be6f-4a51-86b9-ad88f17d56ab
      version: -1
      name: Are there Panorama Devices?
      description: Check if the topology includes at least one Panorama system.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PANOS.CommitStatus.device_type
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.CommitStatus.device_type
                      iscontext: true
                    right:
                      value:
                        simple: Panorama
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c1df722c-53b7-44c4-8406-1d9bf39db932
    type: regular
    task:
      id: c1df722c-53b7-44c4-8406-1d9bf39db932
      version: -1
      name: Push all device groups and templates
      description: Push the configuration to all the device groups and template-stacks
        in the environment.
      script: '|||pan-os-config-push-all'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.device_filter_string}
      device_group_filter:
        complex:
          root: inputs.device_group_filter
          transformers:
          - operator: splitAndTrim
            args:
              delimiter:
                value:
                  simple: ','
      template_stack_filter:
        complex:
          root: inputs.template_stack_filter
          transformers:
          - operator: splitAndTrim
            args:
              delimiter:
                value:
                  simple: ','
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 951974a2-c27f-49bb-80f0-3ddb7e381ea2
    type: playbook
    task:
      id: 951974a2-c27f-49bb-80f0-3ddb7e381ea2
      version: -1
      name: GenericPolling
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      playbookName: GenericPolling
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      Ids:
        complex:
          root: PANOS.PushStatus
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.PushStatus.device_status
                iscontext: true
              right:
                value:
                  simple: PEND
          accessor: job_id
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: match_job_id
      PollingCommandName:
        simple: pan-os-config-get-push-status
      Timeout:
        simple: "20"
      dt:
        simple: PANOS.PushStatus(val.device_status=="PEND").hostid
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2010
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 1296f2c5-0fc8-46ad-86af-3d7b37df344d
    type: condition
    task:
      id: 1296f2c5-0fc8-46ad-86af-3d7b37df344d
      version: -1
      name: Was a commit required?
      description: True if at least one system in the topology committed changes.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PANOS.CommitStatus
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.CommitStatus.status
                      iscontext: true
                    right:
                      value:
                        simple: ACT
                accessor: hostid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: e95c1087-4ff8-49e5-84a2-a6c8343555af
    type: condition
    task:
      id: e95c1087-4ff8-49e5-84a2-a6c8343555af
      version: -1
      name: Was a  push required?
      description: Checks if the Panorama configuration needs to be pushed to any
        device-group or template.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PANOS.PushStatus
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: PANOS.PushStatus.device_status
                      iscontext: true
                    right:
                      value:
                        simple: PEND
                accessor: hostid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 997acf83-8d42-4d02-8819-effac2fb8222
    type: title
    task:
      id: 997acf83-8d42-4d02-8819-effac2fb8222
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 75842815-9c88-4ae1-84b7-9df356fe7d3a
    type: regular
    task:
      id: 75842815-9c88-4ae1-84b7-9df356fe7d3a
      version: -1
      name: Get Push Job Status
      description: Returns the status of the push (commit-all) jobs from Panorama.
      script: '|||pan-os-config-get-push-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      match_job_id:
        simple: ${PANOS.PushStatus.job_id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 27fef6dc-ebce-4f41-8778-58be772c8b49
    type: condition
    task:
      id: 27fef6dc-ebce-4f41-8778-58be772c8b49
      version: -1
      name: Auto-Commit?
      description: Checks if the playbook input is set to automatically commit the
        config.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "1"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.auto_commit
            iscontext: true
          right:
            value:
              simple: "Yes"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": -590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 3db89345-99cb-46f2-8498-e263869dfcf1
    type: regular
    task:
      id: 3db89345-99cb-46f2-8498-e263869dfcf1
      version: -1
      name: Get Device Groups
      description: Gets the operational information of the device groups in the topology.
      script: '|||pan-os-platform-get-device-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.device_filter_string}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 1050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 1ddaede7-c6df-4b1f-8ced-57878d6343f7
    type: regular
    task:
      id: 1ddaede7-c6df-4b1f-8ced-57878d6343f7
      version: -1
      name: Get Template Stacks
      description: Gets the operational information of the template-stacks in the
        topology.
      script: '|||pan-os-platform-get-template-stacks'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 1210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 31b5547e-a235-4cf2-806b-2cd7b0609990
    type: condition
    task:
      id: 31b5547e-a235-4cf2-806b-2cd7b0609990
      version: -1
      name: Auto-Push?
      description: Check if the playbook input it set to automatically push the configuration.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.auto_push
            iscontext: true
          right:
            value:
              simple: "Yes"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 170b23b9-3432-4de8-83a2-642b1f0f0718
    type: collection
    task:
      id: 170b23b9-3432-4de8-83a2-642b1f0f0718
      version: -1
      name: Specify Push Scope
      description: Ask the user for the scope of the Panorama config push.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 1360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body: null
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Device-groups
        required: false
        gridcolumns: []
        defaultrows: []
        type: multiSelect
        options: []
        optionsarg:
        - simple: ${PANOS.DeviceGroupOp.name}
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      - id: "1"
        label: ""
        labelarg:
          simple: Template-stacks
        required: false
        gridcolumns: []
        defaultrows: []
        type: multiSelect
        options: []
        optionsarg:
        - simple: ${PANOS.TemplateStackOp.name}
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Panorama - Config Push Scope
      description: Specify the device groups and template-stacks to push to.
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: d6d221d1-4941-4b50-8306-0ce72104f611
    type: regular
    task:
      id: d6d221d1-4941-4b50-8306-0ce72104f611
      version: -1
      name: Push all device groups and templates
      description: Push the configuration to all the device groups and template-stacks
        in the environment.
      script: '|||pan-os-config-push-all'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      device_filter_string:
        simple: ${inputs.device_filter_string}
      device_group_filter:
        simple: ${Panorama - Config Push Scope.Answers.0}
      template_stack_filter:
        simple: ${Panorama - Config Push Scope.Answers.1}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 1520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 0e3e04d3-ab1b-4099-8dea-cd341561d5dd
    type: regular
    task:
      id: 0e3e04d3-ab1b-4099-8dea-cd341561d5dd
      version: -1
      name: Mark Complete to commit to all devices
      description: |-
        This task will commit to the device specified by the device_filter_string or all devices.

        ${inputs.device_filter_string}
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 740,
          "y": -360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2985,
        "width": 1100,
        "x": 450,
        "y": -740
      }
    }
  }
inputs:
- key: device_filter_string
  value:
    simple: ${incident.panosnetworkoperationstarget}
  required: false
  description: Commit only on specific devices. Note this does not affect Panorama
    push operation - to limit the scope of the push, use device_group_filter and template_stack_filter.
  playbookInputQuery: null
- key: device_group_filter
  value: {}
  required: false
  description: 'Panorama Only: If required, a csv list of device-groups to push. If
    not specified, all device groups will be pushed after a commit.'
  playbookInputQuery: null
- key: template_stack_filter
  value: {}
  required: false
  description: 'Panorama Only: If required, a csv list of template-stacks to push.
    If not specified, all template stacks will be pushed after a commit.'
  playbookInputQuery: null
- key: auto_commit
  value:
    simple: "No"
  required: false
  description: If set to Yes, the configuration will be committed to all firewalls
    and panorama. If no, a data collection task will prompt for the scope first.
  playbookInputQuery: null
- key: auto_push
  value:
    simple: "No"
  required: false
  description: If set to Yes, the configuration will be automatically pushed to all
    device groups and template stacks.
  playbookInputQuery: null
outputs: []
