Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Batch_Upgrade.yml
description: Similar to the Platform Upgrade playbook, this playbook uses an alternate method of retrieving the devices to upgrade by instead querying the open device incidents for the information. This allows us to create upgrade incidents for only specific devices or groups of devices as opposed to all devices.
id: PAN-OS Network Operations - Domain Upgrade
inputs:
- description: Target upgrade batch by device tags.
  key: upgrade_tags
  playbookInputQuery:
  required: false
  value:
    simple: ${incident.devicetags}
- description: 'Any additional incident query parameters for the device query - for example, use "devicemodel:Panorama" to only upgrade Panorama devices. '
  key: device_query
  playbookInputQuery:
  required: false
  value:
    simple: ${incident.panosnetworkoperationsdeviceupgradequery}
name: PAN-OS Network Operations - Batch Upgrade
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54ecdb20-1a2d-4ad7-89a2-21fe479ff0a3
      iscommand: false
      name: ""
      version: -1
    taskid: 54ecdb20-1a2d-4ad7-89a2-21fe479ff0a3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -760
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.upgrade_tags
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for Domain to upgrade
      id: 7fe43156-8be6-4266-8ba4-f4a1de6019a1
      iscommand: false
      name: Did we get tags specified?
      type: condition
      version: -1
    taskid: 7fe43156-8be6-4266-8ba4-f4a1de6019a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -100
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: "(type:\"Network Device\" or type:\"Panorama Device\")  connected:yes hastatus:active ${inputs.upgrade_tags=>x(val);function x(l) {\n\tvar r = [];\n\tif (l) {\n  \tl.forEach(s => {\n    \tr.push(\"devicetags:\"+s);\n    })\n  } else {\n  \treturn '';\n  }\n  return r.join(' ');\n}} ${inputs.device_query}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Searches the active PAN-OS devices in the topology - the device incidents - by the given incident query. '
      id: 0c4f2d28-4a0f-4f8d-87fc-c9c5d220c5eb
      iscommand: false
      name: Get Active Devices by query
      script: GetDevicesByQuery
      type: regular
      version: -1
    taskid: 0c4f2d28-4a0f-4f8d-87fc-c9c5d220c5eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 70
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: hastatus:active  connected:yes ${inputs.device_query}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Searches the active PAN-OS devices in the topology - the device incidents - by the given incident query. '
      id: 71ca0281-936d-401e-8e26-2c7676095c47
      iscommand: false
      name: Get All Active Devices
      script: GetDevicesByQuery
      type: regular
      version: -1
    taskid: 71ca0281-936d-401e-8e26-2c7676095c47
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 70
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e96f54e9-42ba-439d-8c97-cfe4727e89af
      iscommand: false
      name: Get Available Software Images
      type: title
      version: -1
    taskid: e96f54e9-42ba-439d-8c97-cfe4727e89af
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 615
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${GetDevicesByQuery.hostid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check the devices for software that is available to be installed.
      id: d11d0a2e-e94b-4d63-862e-140e21feb3a4
      iscommand: true
      name: Get Software Images
      script: '|||pan-os-platform-get-available-software'
      type: regular
      version: -1
    taskid: d11d0a2e-e94b-4d63-862e-140e21feb3a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 740
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: GetDevicesByQuery.hostid
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for device.
      id: d593384e-cee6-49cc-8382-b6eb4163835a
      iscommand: false
      name: Did we get at least one device?
      type: condition
      version: -1
    taskid: d593384e-cee6-49cc-8382-b6eb4163835a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 250
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The device query for only Active devices with domain ${inputs.domain} returned no results. Have you run a System Information incident?
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: ff039c29-1cc9-459e-8d53-0e61352a00a6
      iscommand: false
      name: Error on no devices returned.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: ff039c29-1cc9-459e-8d53-0e61352a00a6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 600
        }
      }
  "8":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: PAN-OS Network Operations - Upgrade Panorama Version
      output:
        complex:
          accessor: version
          root: FilteredSoftwareVersions.Result
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      available_images:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
              operator: containsGeneral
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
              operator: isFalse
          root: PANOS.SoftwareVersions.Summary
      installed_images:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
              operator: containsGeneral
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
              operator: isTrue
          root: PANOS.SoftwareVersions.Summary
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Given a table containing installed ("current") PAN-OS Software images, compare with available to determine
      id: b770dc8e-f86b-453f-8bd5-824ecd575b96
      iscommand: false
      name: Filter available Panorama Images
      script: FilterAvailableSoftwareImages
      type: regular
      version: -1
    taskid: b770dc8e-f86b-453f-8bd5-824ecd575b96
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1260
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: hostid
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.ShowSystemInfo.Summary.model
                    operator: containsGeneral
                    right:
                      value:
                        simple: Panorama
                root: PANOS.ShowSystemInfo.Summary
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for Panorama devices.
      id: 43391b72-0770-4cd0-8e70-e860cdb7339e
      iscommand: false
      name: Did we return Panorama devices?
      type: condition
      version: -1
    taskid: 43391b72-0770-4cd0-8e70-e860cdb7339e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1070
        }
      }
  "10":
    continueonerrortype: ""
    form:
      description: |-
        ## Overview
        Please specify the target image versions for Panorama and the Firewalls.

        ## Image Upgrade Restrictions
        Note that the associated image list is based on the following limitations and is NOT the complete list of available PAN-OS software;

         * Image must not be > 1 Major release ahead
         * Image must not be > 1 Minor release ahead
         * Image must not be a combination of the two above

        **In the event of a large gap between firewall versions within the environment, the upgrade process will require a manual selection for each firewall that can't be directly upgraded to the target version.**
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          complex:
            accessor: version
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: PANOS.SoftwareVersions.Summary.current
                operator: isTrue
            - - left:
                  iscontext: true
                  value:
                    simple: PANOS.SoftwareVersions.Summary.filename
                operator: containsGeneral
                right:
                  value:
                    simple: Panorama
            root: PANOS.SoftwareVersions.Summary
            transformers:
            - args:
                prefix:
                  value:
                    simple: Select Target Panorama Software Version. Current is  **
                suffix:
                  value:
                    simple: '**'
              operator: concat
        options: []
        optionsarg:
        - complex:
            accessor: version
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: FilteredSoftwareVersions.Result.filename
                operator: containsGeneral
                right:
                  value:
                    simple: Panorama
            root: FilteredSoftwareVersions.Result
            transformers:
            - args:
                descending: {}
              operator: sort
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: The possible versions to upgrade Panorama to.
        type: singleSelect
      sender: Your SOC team
      title: Panorama Upgrade Questions
      totalanswers: 0
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc:
      body:
        simple: Please complete the following survey to proceed with the platform upgrade process.
      cc:
      format: ""
      methods: []
      subject:
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Collects the upgrade details from the user.
      id: 40410efc-1342-4b0b-847f-493c2949196a
      iscommand: false
      name: Panorama Target Version and Upgrade information Questionairre
      type: collection
      version: -1
    taskid: 40410efc-1342-4b0b-847f-493c2949196a
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1660
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      panosnetworkoperationsupgradetargetpanoramaversion:
        simple: ${Panorama Upgrade Questions.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: c67f354a-14f5-4734-8b9f-4c3efdf61fdb
      iscommand: true
      name: Set Target Panorama Version Field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c67f354a-14f5-4734-8b9f-4c3efdf61fdb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1820
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: PAN-OS Panorama Upgrade - ${PanoramaDevices}
      panosnetworkoperationsparentincidentid:
        simple: ${incident.id}
      panosnetworkoperationstarget:
        simple: ${PanoramaDevices}
      panosnetworkoperationsupgradetargetdevice:
        simple: ${PanoramaDevices}
      panosnetworkoperationsupgradetargetversion:
        simple: ${incident.panosnetworkoperationsupgradetargetpanoramaversion}
      type:
        simple: PAN-OS Network Operations - Device Upgrade
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 723ec1df-b115-408d-8701-674214ecd3bb
      iscommand: true
      name: Create Panorama Incidents
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 723ec1df-b115-408d-8701-674214ecd3bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2410
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.ShowSystemInfo.Summary.model
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: Panorama
                root: PANOS.ShowSystemInfo.Summary.model
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for Firewall devices.
      id: 6e732779-3337-41c7-8342-339af9b94857
      iscommand: false
      name: Did we get Firewall devices?
      type: condition
      version: -1
    taskid: 6e732779-3337-41c7-8342-339af9b94857
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2610
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      available_images:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
              operator: notContainsGeneral
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
              operator: isFalse
          root: PANOS.SoftwareVersions.Summary
      installed_images:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
              operator: notContainsGeneral
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.current
              operator: isTrue
          root: PANOS.SoftwareVersions.Summary
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Given a table containing installed ("current") PAN-OS Software images, compare with available to determine
      id: 94f9a2bc-cae9-427c-8295-dee84ab4914e
      iscommand: false
      name: Filter available Firewall Images
      script: FilterAvailableSoftwareImages
      type: regular
      version: -1
    taskid: 94f9a2bc-cae9-427c-8295-dee84ab4914e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2775
        }
      }
  "15":
    continueonerrortype: ""
    form:
      description: |-
        ## Overview
        Please specify the target image versions for Panorama and the Firewalls.

        ## Image Upgrade Restrictions
        Note that the associated image list is based on the following limitations and is NOT the complete list of available PAN-OS software;

         * Image must not be > 1 Major release ahead
         * Image must not be > 1 Minor release ahead
         * Image must not be a combination of the two above

        **In the event of a large gap between firewall versions within the environment, the upgrade process will require a manual selection for each firewall that can't be directly upgraded to the target version.**
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          complex:
            accessor: version
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: PANOS.SoftwareVersions.Summary.filename
                operator: notContainsGeneral
                right:
                  value:
                    simple: Panorama
            - - left:
                  iscontext: true
                  value:
                    simple: PANOS.SoftwareVersions.Summary.current
                operator: isTrue
            root: PANOS.SoftwareVersions.Summary
            transformers:
            - operator: uniq
            - args:
                separator:
                  value:
                    simple: ', '
              operator: join
            - args:
                prefix:
                  value:
                    simple: 'Select target firewall software version. Current versions are '
                suffix: {}
              operator: concat
        options: []
        optionsarg:
        - complex:
            accessor: version
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: FilteredSoftwareVersions.Result.filename
                operator: notContainsGeneral
                right:
                  value:
                    simple: Panorama
            root: FilteredSoftwareVersions.Result
            transformers:
            - args:
                descending: {}
              operator: sort
        placeholder: ""
        readonly: false
        required: false
        tooltip: The possible versions to upgrade the firewall devices to.
        type: singleSelect
      sender: Your SOC team
      title: Firewall Upgrade Questions
      totalanswers: 0
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc:
      body:
        simple: Please complete the following survey to proceed with the platform upgrade process.
      cc:
      format: ""
      methods: []
      subject:
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Collectst the firewall version and further upgrade information
      id: f1cb0729-a19c-4283-8121-be2a7c8925a8
      iscommand: false
      name: Firewall Target Version and Upgrade information Questionairre
      type: collection
      version: -1
    taskid: f1cb0729-a19c-4283-8121-be2a7c8925a8
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3150
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      panosnetworkoperationsupgradetargetfirewallversion:
        simple: ${Firewall Upgrade Questions.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 342c9528-c0eb-40d1-8341-c08570abc0ea
      iscommand: true
      name: Set Answered target version
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 342c9528-c0eb-40d1-8341-c08570abc0ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3305
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: PAN-OS Firewall Upgrade
      panosnetworkoperationsparentincidentid:
        simple: ${incident.id}
      panosnetworkoperationstarget:
        complex:
          root: FirewallDevices
      panosnetworkoperationsupgradetargetdevice:
        complex:
          root: FirewallDevices
      panosnetworkoperationsupgradetargetversion:
        simple: ${incident.panosnetworkoperationsupgradetargetfirewallversion}
      type:
        simple: PAN-OS Network Operations - Device Upgrade
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 2fa2d77d-b8b9-4692-8775-8c0f3f69372a
      iscommand: true
      name: Create Firewall Incidents
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 2fa2d77d-b8b9-4692-8775-8c0f3f69372a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3760
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PanoramaDevices
      value:
        complex:
          accessor: hostid
          filters:
          - - left:
                iscontext: true
                value:
                  simple: FilteredSoftwareVersions.Result.filename
              operator: containsString
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: FilteredSoftwareVersions.Result.version
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
          root: FilteredSoftwareVersions.Result
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 12c506a8-12ca-4509-8c3b-55815ca6f096
      iscommand: false
      name: Set Panorama Systems
      script: Set
      type: regular
      version: -1
    taskid: 12c506a8-12ca-4509-8c3b-55815ca6f096
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2000
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FirewallDevices
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.filename
              operator: notContainsGeneral
              right:
                value:
                  simple: Panorama
          - - left:
                iscontext: true
                value:
                  simple: PANOS.SoftwareVersions.Summary.hostid
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: PanoramaDevices
          root: PANOS.SoftwareVersions.Summary.hostid
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d239bab1-e444-4572-853b-c1b2de56e8ce
      iscommand: false
      name: Set Firewall Systems
      script: Set
      type: regular
      version: -1
    taskid: d239bab1-e444-4572-853b-c1b2de56e8ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3460
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 95a11188-81fa-4f41-80b0-e9aab22bfa3e
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 95a11188-81fa-4f41-80b0-e9aab22bfa3e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -610
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
          operator: isNotEmpty
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
          operator: notInList
          right:
            iscontext: true
            value:
              simple: FilteredSoftwareVersions.Result.version
      label: yes - but not valid
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "18"
      yes - but not valid:
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for target version.
      id: 4175c085-aabe-4b05-87a3-add54e577aa3
      iscommand: false
      name: Do we have a target version already?
      type: condition
      version: -1
    taskid: 4175c085-aabe-4b05-87a3-add54e577aa3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1410
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: "Panorama Upgrade cannot continue - the input panorama upgrade version ${incident.panosnetworkoperationsupgradetargetpanoramaversion} is not a valid target version. It may already be installed, too many releases ahead, or behind the currently installed version. \n\nFirewall upgrade process will continue."
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2751ceac-6ee6-464c-877e-fdb6af7bb97e
      iscommand: true
      name: Set Description
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2751ceac-6ee6-464c-877e-fdb6af7bb97e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 2410
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${GetDevicesByQuery.hostid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets information from all PAN-OS systems in the topology.
      id: 79f60a12-04e5-44e9-873e-b734429421b0
      iscommand: true
      name: Get system info for returned devices
      script: '|||pan-os-platform-get-system-info'
      type: regular
      version: -1
    taskid: 79f60a12-04e5-44e9-873e-b734429421b0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 910
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 649fd7a5-9744-4ee3-897d-5b9202be3728
      iscommand: false
      name: Start Upgrade Process Per Incident
      type: title
      version: -1
    taskid: 649fd7a5-9744-4ee3-897d-5b9202be3728
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3930
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      panosnetworkoperationspanoramaupgradelist:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.ShowSystemInfo.Summary.model
              operator: isEqualString
              right:
                value:
                  simple: Panorama
          root: PANOS.ShowSystemInfo.Summary
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 74c34084-4974-4617-8dcf-12238528f59b
      iscommand: true
      name: Set Target List
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 74c34084-4974-4617-8dcf-12238528f59b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 2185
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetfirewallversion
          operator: isNotEmpty
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetfirewallversion
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetpanoramaversion
          operator: notInList
          right:
            iscontext: true
            value:
              simple: FilteredSoftwareVersions.Result.version
      label: yes - but not valid
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "19"
      yes - but not valid:
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check for existing target version
      id: 714d13f4-aaec-4881-8bdc-378db0962592
      iscommand: false
      name: Do we have a target version already?
      type: condition
      version: -1
    taskid: 714d13f4-aaec-4881-8bdc-378db0962592
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2960
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      panosnetworkoperationsfirewallupgradelist:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.ShowSystemInfo.Summary.model
              operator: isNotEqualString
              right:
                value:
                  simple: Panorama
          root: PANOS.ShowSystemInfo.Summary
          transformers:
          - operator: ConvertKeysToTableFieldFormat
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 3b749585-deb7-40b6-8135-2494b550d201
      iscommand: true
      name: Set target list
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 3b749585-deb7-40b6-8135-2494b550d201
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3610
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: "Firewall Upgradse cannot continue - the input firewall upgrade version ${incident.panosnetworkoperationsupgradetargetfirewallversion} is not a valid target version. It may already be installed, too many releases ahead, or behind the currently installed version. \n\nPanorama Upgrade process may continue."
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: f4e95e44-8992-44fe-8c33-e7380342cbe5
      iscommand: true
      name: Set Description
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: f4e95e44-8992-44fe-8c33-e7380342cbe5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 3760
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is used by the Domain Upgrade playbook to start (either manually or automatically) groups of Device Upgrade incidents.

        It works by first retrieving the administrative domains/device-groups that have upgrades pending, then marking the pause tasks within them complete in batches.
      id: a82ce6a1-5119-48aa-825a-8111b09c5020
      iscommand: false
      name: PAN-OS Network Operations - Start Device Upgrades
      playbookId: PAN-OS Network Operations - Start Device Upgrades
      type: playbook
      version: -1
    taskid: a82ce6a1-5119-48aa-825a-8111b09c5020
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4070
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: This upgrade incident has been closed - all devices are now upgrading, and can be monitored by looking either at the PAN-OS Network Operations dashboard or the indiviudal incidents directly.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 80bf2cbd-921c-4c9a-812e-9b6e8ff051dc
      iscommand: true
      name: Close Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 80bf2cbd-921c-4c9a-812e-9b6e8ff051dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4240
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 10d850d0-470a-45d9-8c1b-f6aad8afcbc5
      iscommand: false
      name: Finish
      type: title
      version: -1
    taskid: 10d850d0-470a-45d9-8c1b-f6aad8afcbc5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4560
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsparentincidentid
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if this incident has been created by another incident type.
      id: 5d035f71-5412-48ad-8391-eb28b7bceaf3
      iscommand: false
      name: Do we have a parent incident?
      type: condition
      version: -1
    taskid: 5d035f71-5412-48ad-8391-eb28b7bceaf3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -450
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      linkedIncidentIDs:
        simple: ${incident.panosnetworkoperationsparentincidentid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: 2ff181e0-ed87-4c48-8e6c-41255d72b97c
      iscommand: true
      name: Link to parent
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: 2ff181e0-ed87-4c48-8e6c-41255d72b97c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -270
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      value:
        simple: ${GetDevicesByQuery.value}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.associate.indicator
      id: 5d0a6620-61e5-49ac-8b82-ff07e55d407d
      iscommand: true
      name: Relate Incident to device
      script: Builtin|||associateIndicatorToIncident
      type: regular
      version: -1
    taskid: 5d0a6620-61e5-49ac-8b82-ff07e55d407d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 440
        }
      }
version: 6
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 5385,
        "width": 1500,
        "x": -240,
        "y": -760
      }
    }
  }