Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Set_Device_Domain.yml
id: PAN-OS Network Operations - Set Device Domain
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: PAN-OS Network Operations - Set Device Domain
description: Enables the grouping of devices into administrative domains. Domains
  may refer to a physical location or logical administrative boundry.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d24a8bb1-eb13-4748-8de3-43ca7afd4d76
    type: start
    task:
      id: d24a8bb1-eb13-4748-8de3-43ca7afd4d76
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 2d3bc791-d3d1-4dac-83c3-63769629a22d
    type: regular
    task:
      id: 2d3bc791-d3d1-4dac-83c3-63769629a22d
      version: -1
      name: Set Group via Regex
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      panosnetworkoperationsdeviceadministrativedomain:
        complex:
          root: incident
          accessor: panosnetworkoperationshostname
          transformers:
          - operator: RegexGroups
            args:
              flags: {}
              groups:
                value:
                  simple: "0"
              keys: {}
              regex:
                value:
                  simple: inputs.domain_regex_hostname
                iscontext: true
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 80
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 1e461664-02aa-4777-8502-33461fd60630
    type: regular
    task:
      id: 1e461664-02aa-4777-8502-33461fd60630
      version: -1
      name: Set device-group as domain
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      panosnetworkoperationsdeviceadministrativedomain:
        complex:
          root: PANOS.DeviceGroupOp
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.DeviceGroupOp.hostname
                iscontext: true
              right:
                value:
                  simple: incident.panosnetworkoperationshostname
                iscontext: true
          accessor: name
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: d9df8602-a185-43e1-8f18-af2eaa8fff7b
    type: condition
    task:
      id: d9df8602-a185-43e1-8f18-af2eaa8fff7b
      version: -1
      name: Is Regex Grouping Enabled?
      description: Look for regex based grouping
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.domain_regex_hostname
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -90
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: c704f621-9f84-4899-8eb6-f9908a255522
    type: condition
    task:
      id: c704f621-9f84-4899-8eb6-f9908a255522
      version: -1
      name: Is Device-group Grouping enabled?
      description: Is DG grouping enabled
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.domain_panorama
            iscontext: true
          right:
            value:
              simple: device-group
        - operator: isEqualString
          left:
            value:
              simple: inputs.domain_panorama
            iscontext: true
          right:
            value:
              simple: both
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 991f1089-b53a-4ed0-8ae5-87f064c23caa
    type: regular
    task:
      id: 991f1089-b53a-4ed0-8ae5-87f064c23caa
      version: -1
      name: Get Device-groups
      description: Gets the operational information of the device groups in the topology.
      script: '|||pan-os-platform-get-device-groups'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 0b4425c5-9874-4407-8f93-c2c76ab1360d
    type: condition
    task:
      id: 0b4425c5-9874-4407-8f93-c2c76ab1360d
      version: -1
      name: Is template-stack grouping enabled?
      description: Is TS grouping enabled
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.domain_panorama
            iscontext: true
          right:
            value:
              simple: template-stack
        - operator: isEqualString
          left:
            value:
              simple: inputs.domain_panorama
            iscontext: true
          right:
            value:
              simple: both
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 9c162040-a80d-4bbf-89d2-288400ae73e1
    type: regular
    task:
      id: 9c162040-a80d-4bbf-89d2-288400ae73e1
      version: -1
      name: Get Template-stacks
      description: Gets the operational information of the template-stacks in the
        topology.
      script: '|||pan-os-platform-get-template-stacks'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: a5b56a41-1397-4af4-8aa4-4db90c8cc811
    type: regular
    task:
      id: a5b56a41-1397-4af4-8aa4-4db90c8cc811
      version: -1
      name: Set template-stack as domain
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      panosnetworkoperationsdeviceadministrativedomain:
        complex:
          root: PANOS.TemplateStackOp
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PANOS.TemplateStackOp.hostname
                iscontext: true
              right:
                value:
                  simple: incident.panosnetworkoperationshostname
                iscontext: true
          accessor: name
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 7008919b-8d82-4b0a-8cac-e508de40be0b
    type: title
    task:
      id: 7008919b-8d82-4b0a-8cac-e508de40be0b
      version: -1
      name: Finish
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: b1d1fa72-5714-4b5e-8e7f-4a5755755fd6
    type: condition
    task:
      id: b1d1fa72-5714-4b5e-8e7f-4a5755755fd6
      version: -1
      name: Is this a Panorama Device?
      description: Checks if panorama
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.devicemodel
            iscontext: true
          right:
            value:
              simple: Panorama
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 4e60b419-4ce3-4f32-8e25-6e6317250835
    type: regular
    task:
      id: 4e60b419-4ce3-4f32-8e25-6e6317250835
      version: -1
      name: Set domain tag to Panorama
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      panosnetworkoperationsdeviceadministrativedomain:
        simple: panorama
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -10,
          "y": 430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1805,
        "width": 840,
        "x": -10,
        "y": -240
      }
    }
  }
inputs:
- key: domain_regex_hostname
  value:
    simple: (\S+)\-
  required: false
  description: If set, will assign this group to the first group retrieved via the
    regex string. Example; regex of (\S+)\-\S and hostname "nsw-fw01" would set the
    device domain to "nsw".
  playbookInputQuery: null
- key: domain_panorama
  value:
    simple: both
  required: false
  description: If set to "device-group", device will be automatically put in a Domain
    group based on the device group it's a member of in Panorama. If set to "template-stack",
    will set the domain to the template-stack this device is a member of. If unset,
    no grouping is done. Can also be set to both to add both the template-stack and
    DG as a domain tag.
  playbookInputQuery: null
outputs: []
