Packs/PAN_OS_Upgrade_Services/Playbooks/PAN-OS_Network_Operations_-_Device_Upgrade_Loop.yml
description: Upgrades a single or HA pair of PAN-OS firewalls, supports running as
  a subplaybook and be looped over to complete an entire upgrade path.
id: PAN-OS Network Operations - Device Upgrade Loop
inputs:
- description: Target Firewall for upgrade
  key: target_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationstarget}
- description: Peer firewall (if any)
  key: peer_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
- description: Target version of upgrade
  key: target_version
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradetargetversion}
- description: If "true", HA topology will be reverted to the original active and
    passive devices after upgrade.
  key: reset_ha_topology
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
name: PAN-OS Network Operations - Device Upgrade Loop
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 36ee7631-2f8d-48ad-8023-83f1e4c06130
      iscommand: false
      name: ""
      version: -1
    taskid: 36ee7631-2f8d-48ad-8023-83f1e4c06130
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2050
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ActiveDevice
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: PassiveDevice
          operator: isExists
      label: active-passive
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ActiveDevice
          operator: isExists
      label: active-active
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      active-active:
      - "67"
      active-passive:
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device belongs to a HA Pair
      id: bfb4ccf2-a56d-4bd6-88df-21f509dddb5a
      iscommand: false
      name: Is this a HA Pair?
      type: condition
      version: -1
    taskid: bfb4ccf2-a56d-4bd6-88df-21f509dddb5a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -710
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fc4f185d-9c78-4a22-8433-0224275464fc
      iscommand: false
      name: HA Pair process
      type: title
      version: -1
    taskid: fc4f185d-9c78-4a22-8433-0224275464fc
    timertriggers:
    - action: start
      fieldname: deviceupgradetimer
    type: title
    view: |-
      {
        "position": {
          "x": 250,
          "y": -10
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: df45f6c5-505d-49d2-8e83-1ee22f3f496c
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: df45f6c5-505d-49d2-8e83-1ee22f3f496c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 870,
          "y": 790
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ### Mark this task complete to begin the Upgrade Process to software version ${incident.nextupgradeversion}

        The upgrade process will involve downloading the firewall software, installing it then finally rebooting the device and waiting for it to reboot.

        If this device is not in a high-availability pair, **you can expect a period of network disruption to occur during the upgrade process**.

        If the device is in a HA pair, there may be a brief period of traffic interruption when the firewalls failover between active and passive, which occurs twice during the upgrade process.
      id: 07553845-7060-4d49-833e-19c4e35ab973
      iscommand: false
      name: Mark Complete When Ready For Upgrade
      tags:
      - start-upgrade
      type: regular
      version: -1
    taskid: 07553845-7060-4d49-833e-19c4e35ab973
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1620
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2f197b69-3f88-4d88-822a-a8ad35961112
      iscommand: false
      name: Single Device Process
      type: title
      version: -1
    taskid: 2f197b69-3f88-4d88-822a-a8ad35961112
    timertriggers:
    - action: start
      fieldname: deviceupgradetimer
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 125
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalPassive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: 3173aefa-9b52-4ed1-847c-38aea55fbb6c
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: 3173aefa-9b52-4ed1-847c-38aea55fbb6c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 630
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${OriginalPassive}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the HA state and associated details from the given device
        and any other details.
      id: 40f59a59-e822-499a-89d9-bd2e6fd64375
      iscommand: true
      name: Get HA State
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      version: -1
    taskid: 40f59a59-e822-499a-89d9-bd2e6fd64375
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 790
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.HAState.hostid
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: OriginalPassive
                root: PANOS.HAState
          operator: isEqualString
          right:
            value:
              simple: passive
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      id: a200d618-b383-4508-866c-0475d3bed529
      iscommand: false
      name: Is device passive after upgrade?
      type: condition
      version: -1
    taskid: a200d618-b383-4508-866c-0475d3bed529
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 940
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "120"
      hostid:
        simple: ${OriginalActive}
      state:
        simple: suspend
      target:
        simple: ${OriginalActive}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and if the operational mode is normal.
      id: 3fbde04f-1a0d-42aa-80f6-dcd3ca187e83
      iscommand: true
      name: Suspend Active firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: 3fbde04f-1a0d-42aa-80f6-dcd3ca187e83
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1240
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Device did not return to passive mode after upgrade.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 6d032bd8-4ff4-48ea-86b1-e904a663a258
      iscommand: false
      name: Error - Wrong HA mode.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 6d032bd8-4ff4-48ea-86b1-e904a663a258
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 2510
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalActive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: 9bceb032-9135-436c-8ac5-e1d81c924697
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: 9bceb032-9135-436c-8ac5-e1d81c924697
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1840
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "90"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: e96a7ca4-afb4-4d86-868e-700e6d665336
      iscommand: false
      name: Sleep for failover process to complete safely
      script: Sleep
      type: regular
      version: -1
    taskid: e96a7ca4-afb4-4d86-868e-700e6d665336
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1390
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${OriginalActive}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the HA state and associated details from the given device
        and any other details.
      id: ce7b6ff1-3c66-44b3-87e6-df4af6b355ad
      iscommand: true
      name: Get HA State
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      version: -1
    taskid: ce7b6ff1-3c66-44b3-87e6-df4af6b355ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1990
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.HAState.hostid
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: OriginalActive
                root: PANOS.HAState
          operator: isEqualString
          right:
            value:
              simple: passive
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      id: 1800739a-737e-4b26-8c62-95c4e82bd879
      iscommand: false
      name: Is device passive after upgrade?
      type: condition
      version: -1
    taskid: 1800739a-737e-4b26-8c62-95c4e82bd879
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2140
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "240"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: suspend
      target:
        simple: ${OriginalPassive}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and if the operational mode is normal.
      id: 19464f94-12c5-460c-8773-c3483a5190c4
      iscommand: true
      name: Suspend Passive firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: 19464f94-12c5-460c-8773-c3483a5190c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2660
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "90"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: c1a6f88f-9cae-4a54-815a-e8a195e0723f
      iscommand: false
      name: Sleep for failover process to complete safely
      script: Sleep
      type: regular
      version: -1
    taskid: c1a6f88f-9cae-4a54-815a-e8a195e0723f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2810
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OriginalActive
      value:
        simple: ${ActiveDevice}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0e2d68dd-f3ea-48dd-8f5b-7f672bebb1c6
      iscommand: false
      name: Set Original Active
      script: Set
      type: regular
      version: -1
    taskid: 0e2d68dd-f3ea-48dd-8f5b-7f672bebb1c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 140
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OriginalPassive
      value:
        simple: ${PassiveDevice}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0b3060af-6a4d-42af-8f39-8bfb8053dbf3
      iscommand: false
      name: Set Original Passive
      script: Set
      type: regular
      version: -1
    taskid: 0b3060af-6a4d-42af-8f39-8bfb8053dbf3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 140
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "300"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: functional
      target:
        simple: ${OriginalPassive}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and if the operational mode is normal.
      id: d58e6607-5452-42cb-8210-98fe01a59606
      iscommand: true
      name: Unsuspend Passive Firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: d58e6607-5452-42cb-8210-98fe01a59606
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2990
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: ec251e77-a8a7-493c-8046-b9aca5dca58e
      iscommand: true
      name: Close incident - Complete
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ec251e77-a8a7-493c-8046-b9aca5dca58e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 4020
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Starting Upgrade to ${inputs.target_version}
      nextupgradeversion:
        simple: ${inputs.target_version}
      preupgradesnapshot:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6cf9289a-0b8a-482b-8218-fc32a627f034
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6cf9289a-0b8a-482b-8218-fc32a627f034
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1230
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalPassive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 9c9f09c5-e836-4ed1-8408-069b912be670
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 9c9f09c5-e836-4ed1-8408-069b912be670
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -570,
          "y": 2330
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalActive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 41f1c486-9f7e-4d6f-878a-6e58907eab70
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 41f1c486-9f7e-4d6f-878a-6e58907eab70
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 2330
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade complete.
      postupgradesnapshot:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "0.5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: b463de75-3503-467b-8f04-0ca0b4a55aa4
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b463de75-3503-467b-8f04-0ca0b4a55aa4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3490
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "300"
      seconds:
        simple: "100"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 8d4caf98-7c61-4184-8b47-9ce217f51084
      iscommand: false
      name: Sleep 1min to wait for all devices to connect
      script: Sleep
      type: regular
      version: -1
    taskid: 8d4caf98-7c61-4184-8b47-9ce217f51084
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3670
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      hostid:
        simple: ${PANOS.HAState.peer}
      target:
        simple: ${PassiveDevice}
      using:
        simple: ${incident.panosnetworkoperationspanoramainstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and if the operational mode is normal.
      id: eee29d90-da4d-490e-89fb-ecf85bbfa311
      iscommand: true
      name: 'Get System Status of HA Peer '
      script: '|||pan-os-platform-get-system-status'
      type: regular
      version: -1
    taskid: eee29d90-da4d-490e-89fb-ecf85bbfa311
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 250,
          "y": -530
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.SystemStatus.up
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the HA peer is back up.
      id: 2cb24729-6744-4f3e-86b8-16ca74284d72
      iscommand: false
      name: Is the HA peer up/Reachable?
      type: condition
      version: -1
    taskid: 2cb24729-6744-4f3e-86b8-16ca74284d72
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 250,
          "y": -360
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: HA Peer ${PANOS.SystemStatus.hostid} is not up. Do you want to proceed
          with the upgrade anyway?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "47"
      "Yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm thatthe upgrade should continue if peer device down..
      id: 6c6b7a14-3a56-4806-8416-58223abea392
      iscommand: false
      name: Confirm upgrade when no passive firewall is UP
      type: condition
      version: -1
    taskid: 6c6b7a14-3a56-4806-8416-58223abea392
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": -140
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Passive peer was not up - upgrade process halted.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 14aa6f04-4d0e-4f28-85ab-958e6649c542
      iscommand: true
      name: Close Incident - Will not upgrade
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 14aa6f04-4d0e-4f28-85ab-958e6649c542
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -420,
          "y": 140
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading currently passive peer.
      name:
        simple: PAN-OS High-Availability Upgrade - ${OriginalActive}/${OriginalPassive}
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: fe39177a-0353-47fa-8f4d-11ee24cf018b
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fe39177a-0353-47fa-8f4d-11ee24cf018b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 480
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Performing Failover
      severity:
        simple: "3"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 34663cd1-da40-4f5e-8990-362eb734e4c0
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 34663cd1-da40-4f5e-8990-362eb734e4c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1090
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading previously active firewall
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 212a665a-e5ae-4da3-82be-adab7fa7f5d1
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 212a665a-e5ae-4da3-82be-adab7fa7f5d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1700
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Restoring HA state.
      severity:
        simple: "3"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1402ed31-b9bf-4433-8104-e027e4a89441
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1402ed31-b9bf-4433-8104-e027e4a89441
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2330
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading Standalone device to ${inputs.target_version}
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 5815acbd-e56f-4391-8247-c90a91bb72a9
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 5815acbd-e56f-4391-8247-c90a91bb72a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 480
        }
      }
  "60":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.nextupgradeversion
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetversion
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a0c2c2d9-876e-491b-8434-ce9a4d4c03c5
      iscommand: false
      name: Have we reached the target version?
      type: condition
      version: -1
    taskid: a0c2c2d9-876e-491b-8434-ce9a4d4c03c5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3830
        }
      }
  "62":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.upgradeconfirmed
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ad7e008-4d9d-4d88-8a63-31c81680b676
      iscommand: false
      name: Have we already marked this upgrade ready to start?
      type: condition
      version: -1
    taskid: 0ad7e008-4d9d-4d88-8a63-31c81680b676
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1900
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      upgradeconfirmed:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: d8eaa774-5a0b-4e33-86db-fb9d53116004
      iscommand: true
      name: Mark Upgrade as Confirmed
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d8eaa774-5a0b-4e33-86db-fb9d53116004
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1440
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d43e74ca-ecc8-4604-82ee-5243929d36b7
      iscommand: false
      name: Continue Upgrade Process
      type: title
      version: -1
    taskid: d43e74ca-ecc8-4604-82ee-5243929d36b7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 4050
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 3ff0bc38-56f7-48d9-868a-af76ae34e0aa
      iscommand: false
      name: PAN-OS Network Operations - Get HA Pair Status
      playbookId: PAN-OS Network Operations - Get HA Pair Status
      type: playbook
      version: -1
    taskid: 3ff0bc38-56f7-48d9-868a-af76ae34e0aa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 520,
          "y": -880
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Pair is active/active - this is not yet supported.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: c5a36cba-6043-4b6f-8524-8d19fe1ea09c
      iscommand: false
      name: Error - Active/active firewall pair unsupported.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: c5a36cba-6043-4b6f-8524-8d19fe1ea09c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": -530
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.reset_ha_topology
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "78"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f86a226f-10b1-4253-876c-b627977dfb3b
      iscommand: false
      name: Should we reset the HA Topology?
      type: condition
      version: -1
    taskid: f86a226f-10b1-4253-876c-b627977dfb3b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2480
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ActiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 5a7e5bd4-cf9d-498f-85a3-80412b226563
      iscommand: false
      name: Clear out old keys
      script: DeleteContext
      type: regular
      version: -1
    taskid: 5a7e5bd4-cf9d-498f-85a3-80412b226563
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": -1060
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PassiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 3ba7858f-17c9-4fc8-8803-f979a27317ca
      iscommand: false
      name: Clear out old keys
      script: DeleteContext
      type: regular
      version: -1
    taskid: 3ba7858f-17c9-4fc8-8803-f979a27317ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": -1060
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${ActiveDevice}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 22115141-3f26-4dd2-8bd0-f9b779e9670a
      iscommand: false
      name: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      playbookId: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      type: playbook
      version: -1
    taskid: 22115141-3f26-4dd2-8bd0-f9b779e9670a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 320
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalActive}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Take a second snapshot and finalize the comparison tests.
      id: 48b44133-6ecd-4748-87f1-44231927e6a0
      iscommand: false
      name: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      playbookId: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      type: playbook
      version: -1
    taskid: 48b44133-6ecd-4748-87f1-44231927e6a0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3320
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalPassive}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Take a snapshot after HA and run comparison tests.
      id: f7701264-679b-4e5f-8909-d4e33dcaf4ef
      iscommand: false
      name: PAN-OS Network Operations - Upgrade Assurance - HA Test
      playbookId: PAN-OS Network Operations - Upgrade Assurance - HA Test
      type: playbook
      version: -1
    taskid: f7701264-679b-4e5f-8909-d4e33dcaf4ef
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1540
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4852a19d-eebb-4a4e-8419-6fe52f9b71bd
      iscommand: false
      name: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      playbookId: PAN-OS Network Operations - Upgrade Assurance - First Snapshot
      type: playbook
      version: -1
    taskid: 4852a19d-eebb-4a4e-8419-6fe52f9b71bd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 870,
          "y": 320
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Take a second snapshot and finalize the comparison tests.
      id: a0a819e9-bd01-460e-8270-9d483cc3e741
      iscommand: false
      name: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      playbookId: PAN-OS Network Operations - Upgrade Assurance - Assurance Test
      type: playbook
      version: -1
    taskid: a0a819e9-bd01-460e-8270-9d483cc3e741
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 870,
          "y": 950
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "60"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 4bec1f4c-eb86-4fdd-8770-fbadaf32b5fe
      iscommand: false
      name: Sleep for routing to settle down
      script: Sleep
      type: regular
      version: -1
    taskid: 4bec1f4c-eb86-4fdd-8770-fbadaf32b5fe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3160
        }
      }
version: 10
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 6165,
        "width": 1820,
        "x": -570,
        "y": -2050
      }
    }
  }
