Packs/PAN_OS_Upgrade_Services/Playbooks/playbook-PAN-OS_Network_Operations_-_Device_Upgrade_Loop.yml
description: Upgrades a single or HA pair of PAN-OS firewalls, supports running as
  a subplaybook and be looped over to complete an entire upgrade path.
id: bdf72993-9e2c-424d-855a-ab69079b1d3a
inputs:
- description: Target Firewall for upgrade
  key: target_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationstarget}
- description: Peer firewall (if any)
  key: peer_device
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradepeerfirewall}
- description: Target version of upgrade
  key: target_version
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.panosnetworkoperationsupgradetargetversion}
- description: If "true", HA topology will be reverted to the original active and
    passive devices after upgrade.
  key: reset_ha_topology
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
name: PAN-OS Network Operations - Device Upgrade Loop
outputs: []
sourceplaybookid: PAN-OS Network Operations - Device Upgrade
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a88ec754-fb22-452f-878b-866534a3b0b8
      iscommand: false
      name: ""
      version: -1
    taskid: a88ec754-fb22-452f-878b-866534a3b0b8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": -2050
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ActiveDevice
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: PassiveDevice
          operator: isExists
      label: active-passive
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ActiveDevice
          operator: isExists
      label: active-active
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      active-active:
      - "67"
      active-passive:
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device belongs to a HA Pair
      id: 585f8d2d-1abe-4502-889f-1b714f56ab28
      iscommand: false
      name: Is this a HA Pair?
      type: condition
      version: -1
    taskid: 585f8d2d-1abe-4502-889f-1b714f56ab28
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -540
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5adc3009-8c3e-4164-8b43-a14c82de4365
      iscommand: false
      name: HA Pair process
      type: title
      version: -1
    taskid: 5adc3009-8c3e-4164-8b43-a14c82de4365
    timertriggers:
    - action: start
      fieldname: deviceupgradetimer
    type: title
    view: |-
      {
        "position": {
          "x": 250,
          "y": 160
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: ad396c84-fac4-44c7-84af-fe40843f4a1d
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: ad396c84-fac4-44c7-84af-fe40843f4a1d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 870,
          "y": 790
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ### Mark this task complete to begin the Upgrade Process to software version ${incident.nextupgradeversion}

        The upgrade process will involve downloading the firewall software, installing it then finally rebooting the device and waiting for it to reboot.

        If this device is not in a high-availability pair, **you can expect a period of network disruption to occur during the upgrade process**.

        If the device is in a HA pair, there may be a brief period of traffic interruption when the firewalls failover between active and passive, which occurs twice during the upgrade process.
      id: ee0fd71e-3f81-464f-8f35-f2a702117ea7
      iscommand: false
      name: Mark Complete When Ready For Upgrade
      tags:
      - start-upgrade
      type: regular
      version: -1
    taskid: ee0fd71e-3f81-464f-8f35-f2a702117ea7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1620
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c3a374d4-bf03-41d8-89ca-19ea75d0ba33
      iscommand: false
      name: Single Device Process
      type: title
      version: -1
    taskid: c3a374d4-bf03-41d8-89ca-19ea75d0ba33
    timertriggers:
    - action: start
      fieldname: deviceupgradetimer
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 295
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalPassive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: 1ff1653a-63eb-457a-8a3e-377992e0c025
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: 1ff1653a-63eb-457a-8a3e-377992e0c025
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 630
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${OriginalPassive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the HA state and assocaited details from the given device and
        any other details.
      id: e83406c5-7e37-474f-807b-add26a800599
      iscommand: true
      name: Get HA State
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      version: -1
    taskid: e83406c5-7e37-474f-807b-add26a800599
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 790
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.HAState.hostid
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: OriginalPassive
                root: PANOS.HAState
          operator: isEqualString
          right:
            value:
              simple: passive
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      id: 0bd583a8-2f00-42ee-84f7-0e0812491123
      iscommand: false
      name: Is device passive after upgrade?
      type: condition
      version: -1
    taskid: 0bd583a8-2f00-42ee-84f7-0e0812491123
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 940
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "120"
      hostid:
        simple: ${OriginalActive}
      state:
        simple: suspend
      target:
        simple: ${OriginalActive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Suspends the active firewall, causing the pair to failover to
        the secondary. \n\nThis task can error in the event that the suspension breaks
        the connectivity between XSOAR and the firewall - in this case, we continue,
        as a subsequent task will error if the firewalls are truly unreachable (which
        would, of course, be very bad)"
      id: e4e6aa9a-37dd-41b2-814b-7f81cbb50b9d
      iscommand: true
      name: Suspend Active firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: e4e6aa9a-37dd-41b2-814b-7f81cbb50b9d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1240
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Device did not return to passive mode after upgrade.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 6cbb644d-5b4d-4f7a-8199-6fd491c3c9f0
      iscommand: false
      name: Error - Wrong HA mode.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 6cbb644d-5b4d-4f7a-8199-6fd491c3c9f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 2340
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${OriginalActive}
      target_version:
        simple: ${inputs.target_version}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Runs a complete upgrade process for a single device
      id: 60c9c26e-d700-4004-83ab-f1c70cfeebdf
      iscommand: false
      name: PAN-OS Network Operations - Single Device Upgrade
      playbookId: PAN-OS Network Operations - Single Device Upgrade
      type: playbook
      version: -1
    taskid: 60c9c26e-d700-4004-83ab-f1c70cfeebdf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1670
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: e0fc01b4-7463-4972-8764-e04adbb01a90
      iscommand: false
      name: Sleep for failover process to complete safely
      script: Sleep
      type: regular
      version: -1
    taskid: e0fc01b4-7463-4972-8764-e04adbb01a90
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1390
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      device_filter_string:
        simple: ${OriginalActive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the HA state and assocaited details from the given device and
        any other details.
      id: 9f52e321-e71f-4606-8510-16637e3b4a7c
      iscommand: true
      name: Get HA State
      script: '|||pan-os-platform-get-ha-state'
      type: regular
      version: -1
    taskid: 9f52e321-e71f-4606-8510-16637e3b4a7c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1820
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PANOS.HAState.hostid
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: OriginalActive
                root: PANOS.HAState
          operator: isEqualString
          right:
            value:
              simple: passive
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: True if the device is correctly Passive after the upgrade process
        has concluded.
      id: 09e8bdcb-859a-4519-8ca1-e8a38867b0b5
      iscommand: false
      name: Is device passive after upgrade?
      type: condition
      version: -1
    taskid: 09e8bdcb-859a-4519-8ca1-e8a38867b0b5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1970
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "240"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: suspend
      target:
        simple: ${OriginalPassive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Suspends the active firewall, causing the pair to failover to
        the passive. \n\nThis task can error in the event that the suspension breaks
        the connectivity between XSOAR and the firewall - in this case, we continue,
        as a subsequent task will error if the firewalls are truly unreachable (which
        would, of course, be very bad)"
      id: 71d12aa8-48d2-4415-8bb0-932e3f7ab7dc
      iscommand: true
      name: Suspend Passive firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: 71d12aa8-48d2-4415-8bb0-932e3f7ab7dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2490
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: a4f02713-cded-43ce-84e7-34d51db836b1
      iscommand: false
      name: Sleep for failover process to complete safely
      script: Sleep
      type: regular
      version: -1
    taskid: a4f02713-cded-43ce-84e7-34d51db836b1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2640
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OriginalActive
      value:
        simple: ${ActiveDevice}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c8d7be4f-cb67-49b6-83c8-8b6115ff80a5
      iscommand: false
      name: Set Original Active
      script: Set
      type: regular
      version: -1
    taskid: c8d7be4f-cb67-49b6-83c8-8b6115ff80a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 310
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OriginalPassive
      value:
        simple: ${PassiveDevice}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 85bcbcc5-c766-424e-8899-204dfcff8b22
      iscommand: false
      name: Set Original Passive
      script: Set
      type: regular
      version: -1
    taskid: 85bcbcc5-c766-424e-8899-204dfcff8b22
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 310
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "300"
      hostid:
        simple: ${OriginalPassive}
      state:
        simple: functional
      target:
        simple: ${OriginalPassive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and the operational mode normal
      id: ac975c20-1e57-4e07-8da4-656470786be4
      iscommand: true
      name: Unsuspend Passive Firewall
      script: '|||pan-os-platform-update-ha-state'
      type: regular
      version: -1
    taskid: ac975c20-1e57-4e07-8da4-656470786be4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2820
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: b321501e-65a1-4289-8e38-4923a0e1c39e
      iscommand: true
      name: Close incident - Complete
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: b321501e-65a1-4289-8e38-4923a0e1c39e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3860
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Starting Upgrade to ${inputs.target_version}
      nextupgradeversion:
        simple: ${inputs.target_version}
      preupgradesnapshot:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6d1893c6-1be1-46f8-843d-a1a9820f3894
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6d1893c6-1be1-46f8-843d-a1a9820f3894
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1080
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalPassive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 57447c72-6cf6-465c-8b64-9ba35995e444
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 57447c72-6cf6-465c-8b64-9ba35995e444
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -570,
          "y": 2160
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade failed.
      details:
        simple: Upgrade for device pair failed - ${OriginalActive} failed to return
          to functional state after reboot.
      severity:
        simple: "4"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 8f995310-4ed8-42a4-889d-23b226273f17
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 8f995310-4ed8-42a4-889d-23b226273f17
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 2160
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrade complete.
      postupgradesnapshot:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      severity:
        simple: "0.5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6480dfb2-e6ce-4d87-8951-b9ef662e382e
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6480dfb2-e6ce-4d87-8951-b9ef662e382e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3160
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "300"
      seconds:
        simple: "100"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 02447dfa-19db-4e19-8002-b8947f731e33
      iscommand: false
      name: Sleep 1min to wait for all devices to connect
      script: Sleep
      type: regular
      version: -1
    taskid: 02447dfa-19db-4e19-8002-b8947f731e33
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3510
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      hostid:
        simple: ${PANOS.HAState.peer}
      target:
        simple: ${PassiveDevice}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the status of the given device, checking whether it's up
        or down and the operational mode normal
      id: 9f619cfe-1327-44f0-817c-ae25b13a87f0
      iscommand: true
      name: 'Get System Status of HA Peer '
      script: '|||pan-os-platform-get-system-status'
      type: regular
      version: -1
    taskid: 9f619cfe-1327-44f0-817c-ae25b13a87f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 250,
          "y": -360
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANOS.SystemStatus.up
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the HA peer is back up.
      id: c500c7e7-faa7-4604-862c-92c6795f6ddc
      iscommand: false
      name: Is the HA peer up/Reachable?
      type: condition
      version: -1
    taskid: c500c7e7-faa7-4604-862c-92c6795f6ddc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 250,
          "y": -190
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: HA Peer ${PANOS.SystemStatus.hostid} is not up. Do you want to proceed
          with the upgrade anyway?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "47"
      "Yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Confirm thatthe upgrade should continue if peer device down..
      id: c70cd6ec-de5c-4950-81dd-1a8a565bf213
      iscommand: false
      name: Confirm upgrade when no passive firewall is UP
      type: condition
      version: -1
    taskid: c70cd6ec-de5c-4950-81dd-1a8a565bf213
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 30
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Passive peer was not up - upgrade process halted.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: cf0ee329-61f4-49c0-8d9c-c8f2bacf5069
      iscommand: true
      name: Close Incident - Will not upgrade
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: cf0ee329-61f4-49c0-8d9c-c8f2bacf5069
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -420,
          "y": 310
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading currently passive peer.
      name:
        simple: PAN-OS High-Availability Upgrade - ${OriginalActive}/${OriginalPassive}
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a036435a-36c7-41b7-8ebb-826f4644b145
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a036435a-36c7-41b7-8ebb-826f4644b145
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 480
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Performing Failover
      severity:
        simple: "3"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6209e0a7-b1eb-4ec5-8021-e9b51068b755
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6209e0a7-b1eb-4ec5-8021-e9b51068b755
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1090
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading previously active firewall
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: fac2c9d6-9f1c-46fc-82b6-9aea791f7f3b
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fac2c9d6-9f1c-46fc-82b6-9aea791f7f3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1530
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Restoring HA state.
      severity:
        simple: "3"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 4794b829-8e06-4308-8bb3-87f6c10969fe
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4794b829-8e06-4308-8bb3-87f6c10969fe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2160
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Upgrading Standalone device to ${inputs.target_version}
      severity:
        simple: "2"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: a301e595-e2fb-4663-82f3-8221fcf06046
      iscommand: true
      name: Set Status
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a301e595-e2fb-4663-82f3-8221fcf06046
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 480
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 12de5b89-cbad-42b9-8964-1825fb060866
      iscommand: false
      name: PAN-OS Network Operations - Take Snapshot
      playbookId: be9dfaa4-a371-4b46-8088-67679944a38b
      type: playbook
      version: -1
    taskid: 12de5b89-cbad-42b9-8964-1825fb060866
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1260
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${incident.panosnetworkoperationstarget}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4802a5de-bbc9-4b3b-845c-1cf382b15a2d
      iscommand: false
      name: Take Post Upgrade Snapshot
      playbookId: be9dfaa4-a371-4b46-8088-67679944a38b
      type: playbook
      version: -1
    taskid: 4802a5de-bbc9-4b3b-845c-1cf382b15a2d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2990
        }
      }
  "60":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.nextupgradeversion
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: incident.panosnetworkoperationsupgradetargetversion
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7f39d417-bcd5-4681-8f39-3e3f5165df6b
      iscommand: false
      name: Have we reached the target version?
      type: condition
      version: -1
    taskid: 7f39d417-bcd5-4681-8f39-3e3f5165df6b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3670
        }
      }
  "62":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.upgradeconfirmed
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fb9a07d7-d323-4bae-873e-4a5a0ce00547
      iscommand: false
      name: Have we already marked this upgrade ready to start?
      type: condition
      version: -1
    taskid: fb9a07d7-d323-4bae-873e-4a5a0ce00547
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1900
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      upgradeconfirmed:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 08e0a44d-b59c-4a94-8f93-5c4b7e495f95
      iscommand: true
      name: Mark Upgrade as Confirmed
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 08e0a44d-b59c-4a94-8f93-5c4b7e495f95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": -1440
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c1faad58-2de0-4fd7-85de-ea2d6a12ef20
      iscommand: false
      name: Continue Upgrade Process
      type: title
      version: -1
    taskid: c1faad58-2de0-4fd7-85de-ea2d6a12ef20
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3890
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 6ba8e7ec-6834-4b2c-8f10-17ad46282f34
      iscommand: false
      name: PAN-OS Network Operations - Post Upgrade Validation
      playbookId: f431c2ef-b626-4304-827c-c4ef8aeedecc
      type: playbook
      version: -1
    taskid: 6ba8e7ec-6834-4b2c-8f10-17ad46282f34
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3330
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        simple: ${inputs.target_device}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: ad820783-bdd7-4558-8fb9-c9de171ce268
      iscommand: false
      name: PAN-OS Network Operations - Get HA Pair Status
      playbookId: 7409a83d-eab4-4acd-8b93-a4abc6a038e4
      type: playbook
      version: -1
    taskid: ad820783-bdd7-4558-8fb9-c9de171ce268
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 520,
          "y": -730
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Pair is active/active - this is not yet supported.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 4ed96494-4d11-4d9d-8222-88d26ca8c2b6
      iscommand: false
      name: Error - Active/active firewall pair unsupported.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 4ed96494-4d11-4d9d-8222-88d26ca8c2b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": -360
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.reset_ha_topology
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ffb2789a-ccf9-46d8-8250-7a75170a2ab8
      iscommand: false
      name: Should we reset the HA Topology?
      type: condition
      version: -1
    taskid: ffb2789a-ccf9-46d8-8250-7a75170a2ab8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2310
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ActiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: e63d0f0a-bc48-4a9c-8b27-26e1c68d8992
      iscommand: false
      name: Clear out old keys
      script: DeleteContext
      type: regular
      version: -1
    taskid: e63d0f0a-bc48-4a9c-8b27-26e1c68d8992
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": -910
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PassiveDevice
      subplaybook:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: a165f27b-241b-4ec9-884d-c3ab2b430428
      iscommand: false
      name: Clear out old keys
      script: DeleteContext
      type: regular
      version: -1
    taskid: a165f27b-241b-4ec9-884d-c3ab2b430428
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": -910
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 6005,
        "width": 1820,
        "x": -570,
        "y": -2050
      }
    }
  }
